.custom-window
    color #ffffff
    font-size 1.2rem 
    line-height 1.5em
    position relative
    padding 1rem 0

    &__title
        text-align center

    &__content
        margin-top .5rem

$black = #000

.gm-style-iw 
    background $black;
    box-shadow -14px 0px 0px $black, -14px 9px 0px $black, -14px -8px 0px $black, 15px -8px 0px $black, 15px 9px 0px $black;

.gm-style-iw 
    overflow visible !important;
    //pointer-events none

    div
        overflow visible !important


.gm-style-iw    
    &:before 
        content: '';
        width: calc(100% + 29px);
        height: calc(100% + 17px);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000

  
    &:after 
        content: '';
        triangle({
            width:2rem,
            height:3rem,
            color:#000,
            direction:bottom
        })
        z-index: 4;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        top: auto;
        bottom: -33px;
        margin: auto;

    & + div
        height: 20px !important;
        width: 20px !important;
        //margin-top: 20px;
        //margin-right: 20px;
        opacity: 1 !important;
        border-radius: 50%;
        transition: transform .5s ease;

        &:hover 
            transform rotate(360deg)

        img
            display none
        

        &::before,
        &::after 
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            border-radius: 5px;
            background: #fff;
        

        &::before 
            transform: rotate(-45deg);
        

        &::after
            transform: rotate(45deg);




