block variables
include ../mixins/mixins.pug

doctype html
html(lang="ru")
    include ../partials/head.pug
    body
        +b.layout
            +e.row
                +e.col.--header
                    block header
                        include ../partials/header.pug
                    block crumbs 
                        include ../blocks/crumbs
            +e.row
                +e.col
                    block main
                        +b('main').main
                            block content
                                | Контентная область

            +e.row
                +e.col.--footer
                    block footer
                        include ../partials/footer.pug

        block ontop
            include ../blocks/ontop.pug
        block hiddens
            include ../partials/hiddens.pug
        block scripts
            include ../partials/scripts.pug
