+b('footer').footer
    +e.wrap
        +e.container
            +e.row
                +e.col.--copyright
                    +e('p').copyright «формула-К» 2017 г.
                +e.col.--mail
                    +e('a').mail(href='mailto:simple@mail.ru') 
                        span Эл.почта: 
                        | simple@mail.ru
                +e.col.--address
                    +e('p').address 
                        span Адрес: 
                        | ул.Дляпримера 145, корп. А
                +e.col.--phone
                    +e('p').phone.js-tel(data-tel='+7 (982) 223-15-78')
                        span +7 (982) 
                        | 223-15-78
                +e.col.--meta
                    +e('a').meta(href='http://meta.studio')            
                
    
