head  
    meta(charset='utf-8')
    // На всякий случай говорим IE использовать движок рендера посвежее
    meta(http-equiv='X-UA-Compatible', content='IE=edge')  
    meta(name='viewport', content='width=device-width')       
    title= pageTitle
    meta(name='author', content='Metadesign, LLC; metadesign.ru; info@metadesign.ru; +7(391)2-420-420')
    meta(name='keywords', content='')
    meta(name='description', content='')  
    meta(name='apple-mobile-web-app-capable', content='yes')    
    meta(name='apple-mobile-web-app-status-bar-style', content='black')   
    meta(name='mobile-web-app-capable', content='yes')    
    meta(name='mobile-web-app-status-bar-style', content='black')
    // Отключаем парсинг и подсветку телефонов на странице Skype-аддоном для IE
    meta(name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
    // Отключаем парсинг и подсветку телефонов во избежание ложно-положительных ситуаций
    meta(name='format-detection', content='telephone=no')
    // iOS Safari
    meta(http-equiv='x-rim-auto-match', content='none')
    // BlackBerry
    // Каконичный адрес текущей страницы для поисковиков
    link(rel='canonical', href='')
    // TODO: тут указать каноничный урл без атрибутов и параметров
    // DNS-prefetch для ajax.googleapis.com, чтобы побыстрее забрать jQuery из CDN
    link(rel='dns-prefetch', href='//ajax.googleapis.com')
    // Фавиконки, иконки и т.п.
    // 16х16px + 24х24px + 32х32px ICO-пакет иконок для IE и некоторых других браузеров, если они не поддерживают PNG-иконки. Нужно разместить в корне сайта.
    link(rel='shortcut icon', href='/favicon.ico')
    // 16x16px стандартная PNG иконка
    link(rel='icon', sizes='16x16', href='/static/i/favicons/favicon-16x16.png')
    // 32x32px стандартная PNG иконка + для Safari's Read Later сайдбара
    link(rel='icon', sizes='32x32', href='/static/i/favicons/favicon-32x32.png')
    // FB Open Graph
    meta(property='og:url', content='http://yourcompany.ru')
    // TODO: Добавить URL для og:url
    meta(property='og:title', content='Описание')
    // TODO: Добавить заголовок для og:title
    meta(property='og:description', content='Описание')
    // TODO: Добавить описание для og:description
    meta(property='og:image', content='/static/i/favicons/300x200.png')
    // /Фавиконки, иконки и т.п.
    // Отключаем всплывающий тулбар для картинок во всяких древних IE6 и иже с ними
    //if IE
    meta(http-equiv='imagetoolbar', content='no')
        
    // Подключаем стили проекта
    link(rel='stylesheet', href='../static/css/styles.css', media='screen')

    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;subset=cyrillic' rel='stylesheet')

    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
