+b('header').header.js-header
    +e.flow
        +e.wrap
            +e.row
                +e.col.--logo
                    include ../blocks/logo.pug

                +e.col.--phone
                    +e('p').phone.js-tel(data-tel='+7 (982) 223-15-78') +7 (982) 223-15-78
                        span телефон отдела продаж

                +e.col.--menu
                    +mainmenu(mainmenu)