//Полифилы для старых браузеров
script.
    window.Promise || document.write('<script src="https://unpkg.com/es6-promise@3.2.1/dist/es6-promise.min.js"><\/script>');
    window.fetch || document.write('<script src="https://unpkg.com/whatwg-fetch@1.0.0/fetch.js"><\/script>');

script(src='../static/js/bundles/bundle.js')
script(src='../static/js/common.js')
// /JS проекта
