.certificates
    padding 0 .5rem

    &__items
        display flex
        flex-wrap wrap
        margin 0 -.5rem

    &__item
        flex-width 33.3333333%
        padding .5rem

    &__item-img
        max-width 100%
        border 1px solid #b2b2b2

    &__item-link
        display block
        position relative
        &:after, &:before
                content ''
                position absolute
                overflow hidden

            &:before
                left 0
                top 0
                width 100%
                height 100%                
                background rgba(#000, .5)
                opacity 0
                transition opacity .2s

            &:after
                left 50%
                top 50%
                transform translate(0%,0%)
                opacity 0
                icon 'zoom-in'
                width 3.4rem
                height 3.4rem
                background-size 3.4rem 3.4rem
                transition opacity .2s, transform .2s

            &:hover:before
                opacity 1

            &:hover:after
                opacity 1
                transform translate(-50%,-50%)