.content-slider
    margin 3rem 0

    &__items
        @extend $row
        margin 0 -1rem

    &__item
        text-align center
        width 100%
        +mediamin('sm')
            width 50%
        +mediamin('md')
            width 33.333333%
        
        padding 1rem

    &__img
        max-width 100%
        margin 0!important

    &__controls
        text-align center

    &__prev,&__dots,&__next
        display inline-block
        //vertical-align middle

    &__dot
        display inline-block
        width .8rem
        height .8rem
        border-radius .8rem
        border 1px solid #333!important
        margin 0 .8rem
        cursor pointer
        &:hover, &.selected
            background #333
        &.selected
            cursor default

    
    &__prev, &__next
        cursor pointer
        opacity .2
        &:hover
            opacity 1

    a&__prev        
        margin-right 2rem
        triangle({
            width: .6rem,
            height: .8rem,
            direction:left,
            color:#333333
        })

        
    a&__next        
        margin-left 2rem
        triangle({
            width: .6rem,
            height: .8rem,
            direction:right,
            color:#333333
        })        
       