.gallery

    &__items
        @extend $row
        //justify-content center
        margin -.5rem


    &__item
        +mediamin('lg')
            flex-width 20%
        col('md',3)
        col('xs',6)
        padding .5rem



    &__item-img
        max-width 100%
        margin 0!important
        vertical-align bottom


    &__item-link
        display block
        max-width 19rem
        position relative
        overflow hidden
        border none!important


        &--image
            &:after, &:before
                content ''
                position absolute
                overflow hidden

            &:before
                left 1rem
                top 1rem
                right 1rem
                bottom 1rem
                
                background rgba(#000, .5)
                opacity 0
                transition opacity .2s

            &:after
                left 50%
                top 50%
                transform translate(0%,0%)
                opacity 0
                icon 'plus'
                transition opacity .2s, transform .2s

            &:hover:before
                opacity 1

            &:hover:after
                opacity 1
                transform translate(-50%,-50%)



        &--video
            &:before, &:after
                content ''
                position absolute

            &:before
                width 100%
                height 100%
                opacity 0
                background linear-gradient(to bottom, #ef2e2e 0%, #c30f39 100%)
                transition opacity .2s
            &:hover:before
                opacity .5

            i
                position absolute
                display block
                left 50%
                top 50%
                width 4rem
                height 4rem
                margin-left -2rem
                margin-top -2rem
                border-radius 4rem
                background #fff
                transition all .2s
                &:before
                    content ''
                    position absolute
                    top 50%
                    left 50%
                    margin-left -4px
                    margin-top -6px
                    triangle({
                        width:12px,
                        height: 13px,
                        color:#e3e3e3,
                        direction:right
                    })
                    transition border-color .2s
            &:hover
                i
                    width 5rem
                    height 5rem
                    margin-left -2.5rem
                    margin-top -2.5rem
                    &:before
                        triangle({
                            width:12px,
                            height: 13px,
                            color:$red,
                            direction:right
                        })
