.mosaic
    margin 3rem auto

    +mediamax('sm')
        max-width 44rem
        
    &__wrap
        position relative
        height 0
        padding-bottom 50%
        +mediamax('sm')
            padding-bottom 200%
            // max-width 44rem
            // margin 0 auto

    a&__img
        display block
        position absolute
        background-size cover
        background-position center center
        height 0        
        border-bottom none!important

        &:after, &:before
                content ''
                position absolute
                overflow hidden

        &:before
            left 1rem
            top 1rem
            right 1rem
            bottom 1rem
            
            background rgba(#000, .5)
            opacity 0
            transition opacity .2s

        &:after
            left 50%
            top 50%
            transform translate(0%,0%)
            opacity 0
            icon 'plus'
            transition opacity .2s, transform .2s

        &:hover:before
            opacity 1

        &:hover:after
            opacity 1
            transform translate(-50%,-50%)

        &--1
            top 0
            left 0
            width 40%
            height 50%
            +mediamin('md')
                border-bottom .4rem solid #f0f0f2!important
            +mediamax('sm')
                top 0
                left 0
                width 100%
                height 25%
        
        &--2
            top 50%
            left 0
            width 20%
            height 50%
            +mediamin('md')
                border-right .2rem solid #f0f0f2
            +mediamax('sm')
                top 25%
                left 0
                width 50%
                height 25%
                border-right .2rem solid #f0f0f2
                border-top .4rem solid #f0f0f2
                border-bottom .4rem solid #f0f0f2!important

        &--3
            top 50%
            left 20%
            width 20%
            height 50%
            +mediamin('md')
                border-left .2rem solid #f0f0f2
            +mediamax('sm')
                top 25%
                left 50%
                width 50%
                height 25%
                border-left .2rem solid #f0f0f2
                border-top .4rem solid #f0f0f2
                border-bottom .4rem solid #f0f0f2!important

        &--4
            top 0
            left 40%
            width 60%
            height 100%
            +mediamin('md')
                border-left .4rem solid #f0f0f2
            +mediamax('sm')
                top 50%
                left 0
                width 100%
                height 50%
