.paginator
    font-size 0px
    display inline-block
    padding 0
    //width 100%



    &__prev, &__page, &__dots,&__next
        display inline-block
        vertical-align middle
        margin 0 .3rem

        &:hover
            color inherit

        span
            display inline-block
            font-size 1.3rem
            font-family $fontFamilyPantonSemibold
            
            line-height 4rem
            text-decoration none
            position relative


    &__page, &__prev, &__next
        min-width 4rem
        padding 0
        text-align center
        border-radius 4rem
        color #000
        transition border-color .2s
        background #fff
        &:active
            opacity .5
        &:hover
            color #000
            background #fff
            box-shadow 0px 2px 2px 0px rgba(0, 0, 0, 0.05)


    &__page&__page--current
        color #fff
        background #1e1f24
        cursor default

    &__dots
        min-width 4rem
        text-align center




    &__prev, &__next
        span
            display inline-block
            icon 'next'
            background-position center
            height 4rem
            width 4rem


        &:hover
            span
                opacity .5

        &--active
            opacity 1

    &__prev
        transform rotate(-180deg)
        margin-left 1rem
