.product-item
    background #0e0f1a
    border-radius 4px
    overflow hidden
    position relative
    max-width 48rem
    //margin 0 auto

    &__link
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 1

    &__img
        max-width 100%

    &__content
        position absolute
        bottom 0
        left 0
        width 100%
        background rgba(#1f1f1f,.95)
        padding 1.5rem 2.5rem


    &__title
        color #ffffff
        font-family $fontFamilyPanton
        font-size 1.8rem

    &__desc
        font-size 1.2rem
        line-height 1.6rem
        color #fff
        overflow hidden
        max-height 0
        transition max-height .2s
        p
            padding .5rem 0
        

    &:hover &__desc
        max-height 5.8rem

    &__category
        display inline-block
        position relative
        color #fff
        font-size 1rem
        line-height 1.6rem
        padding .2rem 1.5rem
        background #333333
        border-radius 1rem
        margin-right 2rem
        opacity .6
        transition opacity .2s
        z-index 2
        &:hover
            color #fff
            opacity 1

    &__price
        font-family $fontFamilyPanton
        color #fff
        opacity .5
        transition opacity .2s
    
    &:hover &__price
        opacity 1

    &__bottom
        margin-top .5rem