.product
    position relative
    overflow hidden
    border-radius 3px
    background-color rgb(255, 255, 255)
    padding 0 2rem
    transition box-shadow .2s
    &:hover
        box-shadow 0px 2px 2px 0px rgba(0, 0, 0, 0.05)

    &__link
        position absolute
        top 0
        left 0
        width 100%
        height 100%


    &__row
        @extend $row
        align-items center


    &__col
        padding 1rem 1.5rem

        &--more
            margin-left auto

    &__img
        border-radius 7rem

    &__title
        font-size 2.4rem
        font-family $fontFamilyPantonSemibold

    &__category
        color #808080

    &__more
        display inline-block
        border-radius 4px
        border 1px solid rgba(#000, .1)
        font-size 1.5rem
        line-height 3rem
        padding .5rem 3rem
        transition border-color .2s

    &:hover &__more
        border 1px solid rgba(#000)


  