.slider

    position relative
    width 100%
    overflow hidden
    margin 0 auto

    max-height 2000px
    transition max-height .9s ease-in

    &--loading
        max-height 0




    &__items
        overflow hidden
        position relative
        width 100%

    &__item
        float left
        position relative
        width 100%
        //padding 0 50px






    &__controls
        position absolute
        width 100%
        height 100%
        transition height .3s .1s
        top 0
        left 0

    &__controls-wrap
        position relative
        height 100%
        @extend $container




    &__next, &__prev
        position: absolute;
        display: block
        cursor pointer
        top 50%
        margin-top -3rem
        icon 'slider-next'
        z-index: 1
        +mediamax('xs')
            width 1rem
            height 3rem
            background-size 1rem 3rem
        &:hover
            opacity: 1


    &__next
        right 1rem
        +mediamin('md')
            right -3rem


    &__prev
        left 1rem
        +mediamin('md')
            left -3rem
        transform rotate(180deg)





    &__dots
        position absolute
        bottom 0
        left 0
        width 100%
        font-size 0
        text-align center
        z-index 1

    &__dot
        display inline-block
        cursor pointer
        border 1px solid #7373ad
        width .8rem
        height .8rem
        margin 0 6px
        border-radius .8rem
        &.selected
            background #7373ad
