/*файл для переопределения стилей программистом или человеком без stylus*/
.embed-video > div {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    margin: 2em 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}