+b.content-slider
    
    +e.items.js-content-slider.js-pictures
        +e.item
            +e('a').link.js-picture(data-size='801x600' href='http://dummyimage.com/801x600/ff7939/fff')
                +e('img').img(src='http://lorempixel.com/330/220')
        +e.item
            +e('a').link.js-picture(data-size='802x600' href='http://dummyimage.com/802x600/ff7939/fff')
                +e('img').img(src='http://lorempixel.com/330/220')
        +e.item
            +e('a').link.js-picture(data-size='803x600' href='http://dummyimage.com/803x600/ff7939/fff')
                +e('img').img(src='http://lorempixel.com/330/220')
        +e.item
            +e('a').link.js-picture(data-size='804x600' href='http://dummyimage.com/804x600/ff7939/fff')
                +e('img').img(src='http://lorempixel.com/330/220')
        +e.item
            +e('a').link.js-picture(data-size='805x600' href='http://dummyimage.com/805x600/ff7939/fff')
                +e('img').img(src='http://lorempixel.com/330/220')
    +e.controls
        +e('a').prev
        +e('span').dots
        +e('a').next