mixin crumbs(items)
    if(items)
        nav.crumbs 
            .crumbs__wrap
                .crumbs__items(itemscope itemtype="http://schema.org/BreadcrumbList")
                    each item, i in items
                        if(i===items.length-1)
                            span(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                                a.crumbs__item--current(title=item.name itemprop="item")
                                    span.crumbs__item-title(itemprop="name")=item.name
                                meta(itemprop="position" content=i+1) 
                        else
                            span(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                                a.crumbs__item(href=item.href title=item.name itemprop="item")
                                    span.crumbs__item-title(itemprop="name")=item.name
                                meta(itemprop="position" content=i+1)

+crumbs(crumbs)
