aside.metadesign.h-noselectable.h-cursor_default
    h1.h-hidden Информация о разработчике сайта
    a.metadesign__link(href='http://metadesign.ru/', title='Метадизайн — создание сайтов в Красноярске')
        span.metadesign__title Метадизайн
        time.project-release-date(datetime='2014-10-01') Сделано в 2015 году        
