nav.paginator.hr_square-headed_top.h-noselectable.h-cursor_default 
    a.paginator__page(href='#')
        span.paginator__page-label 1
    a.paginator__page(href='#')
        span.paginator__page-label 2
    a.paginator__page.paginator__page--current
        span.paginator__page-label 3
    a.paginator__page(href='#')
        span.paginator__page-label 4
    span.paginator__dots
        span.paginator__dots-label ...
    a.paginator__page(href='#')
        span.paginator__page-label 16
    a.paginator__page(href='#')
        span.paginator__page-label 17
    a.paginator__page(href='#')
        span.paginator__page-label 18
    a.paginator__page(href='#')
        span.paginator__page-label 999
    
        
