- var getSize = function(i) { if(i%2==0) {return '800x600'} else {return '600x800'}}
+b.photos
    +e.row.js-pictures
        +e('a').item.--full.js-picture(data-size=getSize(1) href='http://dummyimage.com/'+getSize(1)+'/ff7939/fff')
            +e('img').item-img(src='http://dummyimage.com/870x315') 
        +e('a').item.js-picture(data-size=getSize(1) href='http://dummyimage.com/'+getSize(1)+'/ff7939/fff')
            +e('img').item-img(src='http://dummyimage.com/270x180') 
        +e('a').item.js-picture(data-size=getSize(2) href='http://dummyimage.com/'+getSize(2)+'/ff7939/fff')
            +e('img').item-img(src='http://lorempixel.com/270/180/') 
        +e('a').item.js-picture(data-size=getSize(3) href='http://dummyimage.com/'+getSize(3)+'/ff7939/fff')
            +e('img').item-img(src='http://lorempixel.com/270/180/') 
        +e('a').item.js-picture(data-size=getSize(1) href='http://dummyimage.com/'+getSize(1)+'/ff7939/fff')
            +e('img').item-img(src='http://lorempixel.com/270/180/') 
        +e('a').item.js-picture(data-size=getSize(1) href='http://dummyimage.com/'+getSize(1)+'/ff7939/fff')
            +e('img').item-img(src='http://lorempixel.com/270/180/') 
        +e('a').item.js-picture(data-size=getSize(1) href='http://dummyimage.com/'+getSize(1)+'/ff7939/fff')
            +e('img').item-img(src='http://lorempixel.com/270/180/')                 
            
        
            
    
