+b.search
    +e('p').title Поиск
    +e.field
        +e('form').form
            +e('input').input(type='text')
            +e('button').submit
            
    +e('p').note Укажите в поле выше слово или фразу поискового запроса        
            
    +e.loading        
    +b.searclist    
        +e.items
            +e.item
                +e('a').link(href='')
                +e.top                
                    +e('time').date 28.05.2017
                    +e('a').category(href='') Мероприятие
                    +e('a').category.--orange(href='') Мероприятие
                +e('p').title Интенсив «Школа журналистики»
                        
            +e.item
                +e('a').link(href='')
                +e.top                
                    +e('time').date 28.05.2017
                    +e('a').category(href='') Мероприятие
                    +e('a').category.--orange(href='') Мероприятие
                +e('p').title Интенсив «Школа журналистики»
            +e.item
                +e('a').link(href='')
                +e.top                
                    +e('time').date 28.05.2017
                    +e('a').category(href='') Мероприятие
                    +e('a').category.--orange(href='') Мероприятие
                +e('p').title Интенсив «Школа журналистики»    
        +e.more                
            +e('a').more-link(href='') Наёдено всего 217 совпадений
