.article
    position relative
    background #fff
    border-radius 3px
    overflow hidden
    width 100% 
    &:hover
        box-shadow 0px 2px 2px 0px rgba(0, 0, 0, 0.05)

    &__link
        position absolute
        top 0
        left 0
        width 100%
        height 100%



    &__row
        display flex
        +mediamax('xs')
            flex-wrap wrap

    &__left
        flex-width 25rem
        +mediamax('xs')
            flex-width 100%
            text-align center

    &__right
        width 100%
        padding 2rem 3rem


    &__title
        font-size 2rem
        line-height 2.6rem
        font-family $fontFamilyPantonSemibold
        margin 1rem 0

    &__date
        color rgba(#000,.5)
