.burger
    text-align center



    &__link
        display inline-block
        vertical-align middle
        position relative
        text-decoration none
        width 4rem
        height 4rem
        padding 1.5rem 2rem
        background-color #fff
        text-align center
        cursor pointer
        color #fff!important


        &:hover
            //background-color #847cc2
            //border: solid 1px #4c8dc3

        &:active
            //background-color #3f8dcd
            //border solid 1px #3f8dcd
            //box-shadow none


    &__wrap
        display block
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)
        //overflow  hidden
        width  24px
        height  12px


    &__hamb
        display  block
        position  absolute
        top  6px
        left  0
        right  0
        height  2px
        background #847cc2
        transition  background 0 0.2s
        &:before, &:after
            position  absolute
            display  block
            left  0
            width  100%
            height  2px
            background-color  #847cc2
            content  ''
            transition-duration  0.2s, 0.2s
            transition-delay  0.2s, 0

        &:before
            top  -6px
            transition-property  top, transform

        &:after
            bottom  -6px
            transition-property  bottom, transform


        .burger--active &
                background  none
                &:before,&:after
                    transition-delay  0, 0.2s

                &:before
                    top 0px
                    transform rotate(45deg)

                &:after
                    bottom 0px
                    transform rotate(-45deg)
