.contentform
    position relative
    background #fff
    overflow hidden
    padding 2rem 3rem
    border-radius 4px
    


    &__error
        margin 2rem 0

    &__row
        @extend $row
        margin 0 -1rem

    &__col, &__left, &__right
        margin  0 0 2rem
        .form__elem-radio, .form__elem-checkbox, .form__elem
            margin 0



    &__col
        col('md',6)
        padding-left 1rem
        padding-right 1rem
        .form__elem
            //margin-bottom 0

    &__row-bottom
        display flex
        margin 1rem -1rem

    &__left, &__right
        padding-left 1rem
        padding-right 1rem

    &__left
        flex 0 1 auto


    &__label
        color #b5b5b5
        font-size 1.4rem
        line-height 1.8rem


    &__note
        font-size 1.2rem
        line-height 1.6rem
        color rgba($color, .7)
        position relative

        p:first-child
            &:before
                content ''
                icon 'zamok'
                display inline-block
                position relative
                top -.1rem
                vertical-align middle
                width .7rem
                height .98rem
                background-size .7rem .98rem
                opacity .3
                margin-right .5rem

        p
            //margin-bottom 1rem

        a
            color rgba($color, .7)
            border-bottom 1px solid rgba($color, .3)

        

    

    &__btn
        @extend .btn
        &--margin-top
            margin-top 2rem


    &__success
        position absolute
        overflow hidden
        top 0
        left 0
        width 0
        height 0
        background #fff
        overflow hidden
        z-index 1
        text-align center
        opacity 0
        transition width 0s .3s, height 0s .3s, opacity .3s
        

    &--success &__success
        width 100%
        height 100%
        opacity 1
        transition width 0s, height 0s, opacity .3s


    &__success-column
        display flex
        flex-direction column
        padding 2rem 3rem
        height 100%
        width 100%
        justify-content space-around

    &__success-message
        margin 5rem 0

    &__success-more
        @extend .btn

    