.crumbs

    margin 3rem 0
    @extend $content
    font-weight normal


    &__wrap
        @extend $container

    &__items
        padding 2px 0 4px 0
        display: inline-block;
        position: relative;
        font-size: 0
        text-align left




    &__item
        display inline-block
        text-decoration none
        position relative




    &__item-title
        font-size 1.4rem
        line-height 1.6rem
        font-weight 300
        color #999999
        transition color .3s
        display inline-block
        




    &__item:hover &__item-title
        //color rgba(#333333,.5)
        //border-bottom 1px solid rgba(#333333,.0)

    &__item--current
        position: relative;


    &__item--current &__item-title
        color rgba(#333333,.5)
        border-bottom 1px solid rgba(#333333,.0)
        cursor default
        &:hover
            //color rgba(#333333,.5)


    &__item:after
        content: '•'
        color rgba(#333333,.5)
        transition color .3s
        font-weight 600
        display: inline-block;
        font-size 1.3rem
        margin 0 .7rem
