.files
    &__items
        @extend $row
        //justify-content space-between
        align-items center
        margin 0 -5rem

    &__item
        col('md', 4)
        col('sm', 6)
        col('xs', 12)
        padding 0 5rem
        margin-bottom 5rem
        white-space nowrap
   