.file
    display block
    border-bottom none!important
    span
        white-space normal
        display inline-block
        vertical-align middle
    &:before
        content ''
        display inline-block
        vertical-align middle
        png 'file',true
        margin-right 2rem
        font-family $fontFamilyPantonBold
        text-transform uppercase
        color rgba($color,.8)
        padding 2.7rem .5rem 0 0
        text-align right

    &--txt:before
        content 'txt'
    &--doc:before
        content 'doc'
    &--docx:before
        content 'docx'
        font-size 1.2rem
        padding 2.7rem .3rem 0 0
    &--zip:before
        padding 2.7rem 1rem 0 0
        png 'zip',true
        content 'zip'
    &--pdf:before
        content 'pdf'