.home-promo
    position relative
    overflow hidden
    background #0e0f1a
    
    

    &__img
        +mediamin('sm')
            max-width 100%
        opacity .6
        +mediamax('xs')
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            height 100%
            width auto

    &__content
        position relative
        +mediamin('sm')
            position absolute
            top 0
            left 0
            width 100%
            height 100%
        +mediamax('xs')
            padding 2rem 0

    &__wrap
        height 100%
        @extend $container

    &__column
        height 100%
        display flex
        flex-direction column
        justify-content space-around

    &__text
        max-width 88rem

    &__title
        font-size 3.4rem
        line-height 1.3em
        color #ffffff
        font-family $fontFamilyPantonBold
        +mediamax('sm')
            font-size 2.4rem
        +mediamax('xs')
            //font-size 1.8rem


    &__desc
        color #fff
        font-size 2.2rem
        font-family $fontFamilyPanton
        margin-top 2em
        max-width 55rem
        +mediamax('sm')
            font-size 1.8rem
            margin-top 1em
        +mediamax('xs')
            //font-size 1.4rem
            //margin-top 0

