.home-news
    &__wrap
        @extend $container

    &__title
        @extend $like-h1
        text-align center
        margin 4rem 0

    &__items
        @extend $row

    &__item
        col('lg',6)
        display flex
        margin-bottom 3rem

    &__more
        margin 1rem 0
        text-align center

    &__more-link
        @extend .btn