.home-production
    &__wrap
        @extend $container

    &__title
        @extend $like-h1
        text-align center
        margin 4rem 0

    &__item
        margin-bottom 1rem

    &__more
        margin 3rem 0
        text-align center

    &__more-link
        @extend .btn