.menu

    &__items
        display flex
        flex-wrap wrap
        justify-content space-between
        align-items center
        margin 0 -1rem
        +mediamax('sm')
            margin 0 -.5rem


    &__item
        padding 0 1rem
        +mediamax('sm')
            padding 0 .5rem




    &__item-link
        display block
        font-family $fontFamilyPantonSemibold
        font-size 1.6rem
        letter-spacing .18rem
        text-transform uppercase
        color #b2b2b2
        line-height 4rem
        &:hover
            color #fff

        +mediamax('xs')
            font-size 1.4rem
            line-height 3rem


    &__item--current &__item-link, &__item--active &__item-link
        color #fff



    &__item--current &__item-link
        cursor default
