.modal
    position: fixed;
    top 0
    left 0
    width 100%
    height 100%
    max-width 100%
    overflow-y: auto;
    //padding 100px 10px
    z-index: $z-index.modal
    //display none
    overflow hidden
    max-height 0
    transition max-height 0s .6s


    &--open
        display block
        overflow:auto;
        max-height 2000px

        transition max-height 0s


    &__content
        position absolute
        top: 50%;
        left: 50%;
        transform translateZ(0)
        transform: translate(-50%, -250%);
        width 37rem
        max-width 90%
        max-height 90%
        //will-change: opacity, transform
        opacity 0
        transition opacity .3s, transform .3s ease-in-out
        +mediamax('xs')
            max-width 100%
            max-height 100%


    &__wrap
        background #fff
        padding 4rem
        position relative
        &:before
            content ''
            position absolute
            top 2rem
            left 2rem
            right 2rem
            bottom 2rem
            border 1px solid #87a534






    &--open  &__content
        opacity 1
        transform translate(-50%, -50%)


    &__close
        display none
        cursor pointer
        position absolute
        icon 'modal-close'
        right 1rem
        top 1rem
        transition: transform .3s
        opacity: 1
        transition: opacity .3s
        z-index 1
        &:hover
            transform rotate(180deg)

    &--open &__close
        display block


    &__overlay
        position fixed
        width 100%
        height 100%
        left 0
        top 095
        background: rgba(#d6d6d6,.2)
        opacity 0
        max-height 0
        transition opacity .4s, max-height 0s .3s
    &--open &__overlay
        opacity 1
        max-height 2000px
        transition opacity .4s












.modal-lock.mobile
    overflow hidden
    body
        overflow hidden !important
