.ontop
    display block
    position fixed
    bottom 1.5rem
    right 1rem
    icon 'ontop'
    background-color #1e1f24
    transform translate(0, 20rem)
    transition transform .4s
    border-radius 6rem
    opacity .8
    z-index 3
    &--show
        transform translate(0, 0)
    +mediamin('md')
        bottom 7.5rem
        right 4.5rem 

    +mediamax('sm')
        width 4rem
        height 4rem
        background-size 4rem 4rem

    &:hover
        opacity 1
