.tabs

    margin 0 auto
    user-select none

    &__nav
        font-size 0
        margin 0 -2.8rem
        padding 0 2rem
        border-bottom 1px solid #dddddd
        box-shadow: inset 0 -1px 1px rgba(117,76,36,.09)

    &__nav-item
        display inline-block
        margin 0 .8rem
        cursor pointer



    &__nav-title
        display block
        color #555555
        text-decoration none
        font-size 1.6rem
        padding .9rem .3rem
        border-bottom 2px solid rgba(#00a651,0)
        transition color .2s, border-color .2s
        &:hover
            color $colorLinkHover


    &__nav-item--active &__nav-title
        border-bottom 2px solid rgba(#00a651,1)
        cursor default
        color #444444
        &:hover
            color #444444


    &__content
        display none

    &__content--active
        display block

    &__container
        padding: 3rem 0
