.tabs-nav

    font-size 0
    margin -1.1rem -2rem
    text-align left

    &__item
        display inline-block
        vertical-align top
        margin 1rem 2rem
        padding-bottom 1rem
        font-size 1.4rem
        cursor pointer
        color #808080

        i
            display block
            position relative
            width 3.5rem
            height 3.5rem
            margin 0 auto
            border-radius 3.5rem
            transform scale(.71)
            transition transform .3s
            will-change transform
            &:after
                content ''
                position absolute
                top 50%
                left 50%
                transform translate(-50%,-50%)

        &:hover
            i
                transform scale(.8)

        &--active
            i
                transform scale(1)
            &:hover
                cursor default
                i
                    transform scale(1)


    &__item--spring
        .tabs-nav__item--active&
            border-bottom 2px solid #0087cd
        i
            background-image linear-gradient(45deg, #0087cd, #00bff3)
            &:after
                icon 'spring-white'

    &__item--novelty
        .tabs-nav__item--active&
            border-bottom 2px solid #0087cd
        i
            background-image linear-gradient(45deg, #0087cd, #00bff3)
            &:after
                icon 'novelty-white'

    &__item--again
        .tabs-nav__item--active&
            border-bottom 2px solid #fa0
        i
            background-image: linear-gradient(45deg, #fa0, #fc0);
            &:after
                icon 'again-white'


    &__item--profitably
        .tabs-nav__item--active&
            border-bottom 2px solid #00a651
        i
            background-image: linear-gradient(45deg, #00a651, #96c828);
            &:after
                icon 'profitably-white'


    &__item--hit
        .tabs-nav__item--active&
            border-bottom 2px solid #fc6721
        i
            background-image: linear-gradient(45deg, #fc6721, #fc0);
            &:after
                icon 'hit-white'

    &__item-title
        display block
        margin-top .5rem
        position relative
        top 0
        transition top .2s


    &__item--active &__item-title
        color #444444
        top .3rem
