.contacts
    padding 7rem 0 0 0

    &__wrap
        @extend $container

    &__row
        @extend $row

    &__left
        col('md', 7)

    &__right
        col('md', 5)

    &__items
        @extend $row
        align-items center

    &__item
        col('md', 6)
        margin-bottom 2rem

    &__item-label
        font-size 1.6rem
        color #b2b2b2
    &__item-value
        font-family $fontFamilyPantonBold
        font-size 2rem
        letter-spacing .08em
        text-transform uppercase

    &__desc
        position relative
        padding 0 0 0 6rem
        margin 5rem 0 8rem 0
        &:before
            content '?'
            display block
            position absolute
            top -.5rem
            left 0
            width 4rem
            height 4rem
            border-radius 4rem
            border 2px dotted #333 
            font-size 2rem
            line-height 4rem
            text-align center
            font-family $fontFamilyPantonBold

    &__map
        height 63rem
        width 100%

    &__roadmap
        +mediamin('md')
            margin-top -10rem

    &__roadmap-title
        @extend $like-h1
        margin 5rem 0

