.news
    padding 7rem 0 7rem 0

    &__wrap
        @extend $container

    &__items
        @extend $row

    &__item
        col('lg',6)
        display flex
        margin-bottom 3rem

    &__paginator
        margin 5rem 0