.products
    padding 7rem 0

    &__wrap
        @extend $container

    &__items
        @extend $row

    &__item
        col('sm',6)
        display flex
        margin-bottom 3rem

    &__paginator
        margin 5rem 0

    &__categories
        margin 3rem 0

    &__category
        display inline-block
        background #ffffff
        line-height 2.5rem
        padding .5rem 2rem
        border-radius 2rem
        margin 0 1rem 1rem 0
        &:hover
            color $color
            box-shadow 0px 2px 2px 0px rgba(0, 0, 0, 0.05)
        &--active
            background #2d2e34
            color #fff
            &:hover
                color #fff

    &__row
        display flex
        +mediamax('md')
            flex-wrap wrap

    &__left
        flex-width 30rem
        margin 0 3rem 3rem 0 

    &__nav
        background #ffffff
        border-radius 4px
        overflow hidden

    &__nav-link
        display block
        padding 1.5rem 3rem
        transition background .2s
        &:hover
            background #2d2e34

    &__nav-title
        color #1f1f1f
        font-size 1.6rem
        font-family $fontFamilyPantonSemibold
        transition color .2s

    &__nav-link:hover &__nav-title
        color #fff

    &__nav-category
        color #808080
        font-size 1.2rem
        span 
            font-family $fontFamilyPanton
            font-size 1.4rem

    

