.product-page
    padding-bottom 7rem

    &__wrap
        @extend $container

    &__desc
        margin 4rem 0

    &__row
        display flex
        justify-content space-between

    &__right
        flex-width 30rem
        margin-left 3rem

    &__left
        max-width 88rem

    &__img
        max-width 100%

    &__categories
        margin 2.5rem 0 1rem 0

    &__category
        display inline-block
        background #ffffff
        font-size 1.2rem
        line-height 1.5rem
        padding .5rem 1.5rem
        border-radius 2rem
        margin 0 1rem 1rem 0
        &:hover
            color $color
            box-shadow 0px 2px 2px 0px rgba(0, 0, 0, 0.05)

    &__side-item
        &:not(:last-child)
            margin-bottom 6rem

    &__side-title
        padding 0 1.8rem

    &__docs
        padding 0 1.8rem

    &__props
        position relative
        background #fff
        overflow hidden
        padding 3rem
        border-radius 3px

    &__props-title
        margin-bottom 2rem

    &__props-items
        &:not(:last-child)
            margin-bottom 4rem
        

    &__prop
        font-size 1.6rem
        margin 1.2rem 0
        span 
            font-family $fontFamilyPantonBold
        
        &:before
            content ''
            display inline-block
            vertical-align middle
            width 4rem
            height 4rem
            border-radius 4rem
            background-color #f2f3f5
            margin-right 1.5rem
            background-position center center

        &--1:before
            icon 'brightness'
            background-size 3rem 3rem
        &--2:before
            icon 'time'
            background-size 3rem 3rem
        &--3:before
            icon 'temp'
            background-size 3rem 3rem
        &--4:before
            icon 'humidity'
            background-size 3rem 3rem
