.publication

    overflow hidden

    

    &__wrap
        @extend $container

    

    &__desc
       +mediamin('md')
            max-width calc(75% - 30px)



    &__video
        position relative
        display block
        height 0
        padding 0
        overflow hidden
        margin 2em 0

        iframe
            position absolute
            top 0
            left 0
            bottom 0
            height 100%
            width 100%
            border 0

        &--16x9
            padding-bottom 56.25%
        &--4x3
            padding-bottom 75%



    &__video-block
        display block
        position relative
        margin 3rem 0

    &__video-block-img
        max-width 100%

    &__video-block-icon
        position absolute
        top 50%
        left 50%
        margin -4.2rem 0 0 -5.7rem
        width 11.4rem
        height 8.4rem
        border 2px solid #fff
        background rgba(#000,.2)
        transition background .2s
        &:after
            content ''
            position absolute
            top 50%
            left 50%
            margin -2.3rem 0 0 -1rem
            triangle({
                direction: right,
                width:3.4rem,
                height: 4.6rem,
                color:#fff
            })

    &__video-block:hover &__video-block-icon
        background rgba(#000,.5)



    &__gallery
        margin 3rem 0

    &__date
        color #999999
        font-weight 500

    &__full
        margin 3rem 0

    &__full-img
        max-width 100%

    &__full-wrap
        @extend $container

    &__full-caption
        font-size 1.3rem
        padding 1rem 0
        opacity .5

    &__promo
        position relative
        margin 3rem 0
        background-color #1e1f24
        padding 4rem 0
        color #fff
        &:before
            content ''
            position absolute
            top 0
            left 0
            icon 'logoicon'
            height 100%
            width 100%
            opacity .06
            background-size auto 100%
            background-position 0 0

    &__promo-wrap
        @extend $container
    
    &__promo-text
        font-size 1.6rem
        font-family $fontFamilyPantonSemibold
        +mediamin('md')
            max-width calc(75% - 30px)

    
