extends layouts/default.pug

block variables
    - var activeMenu = 'Контакты'; 
    - var pageTitle = 'Контакты';
   
block crumbs

block main
    +b('main').main
        +b.SECTION.contacts
            +e.wrap
                +e.row
                    +e.left
                        +e('h1').title  Контакты
                        +e.items
                            +e.item
                                +e.item-content
                                    +e('p').item-label Телефон отдела продаж: 
                                    +e('p').item-value.js-tel(data-tel='+7 (982) 223-15-78') +7 (982) 223-15-78
                            +e.item
                                +e.item-content
                                    +e('p').item-label Электронная почта: 
                                    +e('p').item-value: a(href='mailto:info@supermail.ru') info@supermail.ru
                            +e.item
                                +e.item-content
                                    +e('p').item-label Фактический адрес:
                                    +e('p').item-value ул. Дляпримера, 175
                            +e.item
                                +e.item-content
                                    +b('a').file--pdf(href='')
                                        span Реквизиты компании.pdf
                        +e.desc.text
                            p Чтобы задать вопрос о товарах или услугах воспользуйтесь формой справа.  Увидеть карту проезда можно ниже. Мы находимся рядом с центром «Ауди» напротив фабрики мебели «Василен», вход со двора.
                            

                    +e.right
                        +e('h3').subtitle 
                            | Ответим 
                            br
                            |на ваши вопросы

                        //Класс modalform--success управляет появлением блока  успешной отправки формы
                        +b.ASIDE.contentform.--success_
                            +e.form
                                form.form
                                    +e.row
                                        +e.col
                                            +radio({
                                                name:'type',
                                                id:'adasd',
                                                label:'Частное лицо'
                                            })
                                        +e.col
                                            +radio({
                                                name:'type',
                                                id:'eret',
                                                label:'Компания'
                                            }) 
                                    +e.row
                                        +e.col
                                            +input({
                                                name:'fio',
                                                label:'Представьтесь пожалуйста:',
                                                labelclass:''
                                            })
                                        +e.col
                                            +input({
                                                name:'phone',
                                                label:'Ваша эл. почта или телефон:',
                                                labelclass:'form__error',
                                            }) 
                                    +textarea({
                                        name:'text',
                                        label:'Ваше сообщение',
                                    })        
                                    +e.error
                                        .form__note.h-nomargins#js-form__error_box-callback
                                            p.js-form__error-text.form__error#js-form__error_msg-callback Все поля формы обязательны для заполнения.
                                        
                                    
                                    +e.row-bottom
                                        +e.left   
                                            +e('button').btn Отправить
                                            span.ajax-loader#js-form__preloader-callback(title='Подождите, пожалуйста') 
                                        +e.right
                                            +e.note 
                                                p Нажимая кнопку «Отправить» Вы соглашаетесь на обработку указанных Вами персональных данных. 
                                                p: a(href='') Подробнее

                            +e.success
                                +e.success-column
                                    +e.success-wrap
                                        +e.IMG.img(src='/static/i/success.png')
                                        +e.P.success-message 
                                            strong Константин, 
                                            | Ваше сообщение успешно отправлено!
                                        +e.A.success-more(href='') Написать еще


            +e.roadmap
                +e.wrap
                    +e('p').roadmap-title Карта проезда
                +e.map.js-contacts-map#js-contacts-map
