extends layouts/default.pug

block variables
    - var activeMenu = 'Главная'; 
    - var pageTitle = 'Главная';



block main
    +b('main').home
        +b.SECTION.home-promo
            +e.IMG.img(src='/static/i/promo.jpg')
            +e.content
                +e.wrap
                    +e.column
                        +e.text
                            +e.P.title Материалы для разметки дорог, даптированные для условий Сибирского Федерального округа
                            +e.desc
                                p Малый дополнительный текст — может как быть, так и отсутствовать в данном месте

        +b.SECTION.home-production
            +e.wrap
                +e.P.title Продукция
                +e.items
                    +e.item
                        +product({
                            title: 'Холодный спрей-пластик «Акцент»',
                            category: 'Категория товара',
                            img:'http://lorempixel.com/70/70'
                        })
                    +e.item
                        +product({
                            title: 'Холодный спрей-пластик «Акцент»',
                            category: 'Категория товара',
                            img:'http://lorempixel.com/70/70'
                        })
                    +e.item
                        +product({
                            title: 'Холодный спрей-пластик «Акцент»',
                            category: 'Категория товара',
                            img:'http://lorempixel.com/70/70'
                        })
                    +e.item
                        +product({
                            title: 'Холодный спрей-пластик «Акцент»',
                            category: 'Категория товара',
                            img:'http://lorempixel.com/70/70'
                        })
                +e.more
                    +e.A.more-link(href='') Полный каталог

        +b.SECTION.home-map
            +e.wrap
                +e('p').title «Формула-К» на карте России
            
            +e.map.js-map#js-map

        +b.SECTION.home-news
            +e.wrap
                +e.P.title Новости
                +e.items
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк',
                            img:'http://lorempixel.com/250/200',
                            date:'Сегодня',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк',
                            img:'http://lorempixel.com/250/200',
                            date:'11.12.2017',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк',
                            img:'http://lorempixel.com/250/200',
                            date:'11.12.2017',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк', 
                            date:'11.12.2017',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                +e.more
                    +e.A.more-link(href='') Все новости
        
        

        +b.SECTION.home-text
            +e.wrap
                +e.text.text
                    p Заключительный. СЕО-текст. Искусство готично иллюстрирует элитарный социально-психологический фактор. Литургическая драма монотонно представляет собой монтаж, однако само по себе состояние игры всегда амбивалентно. Беспристрастный анализ любого творческого акта показывает, что герменевтика диссонирует элитарный канон биографии. Притча, на первый взгляд, многопланово продолжает горизонт ожидания.
