extends layouts/default.pug

block variables
    - var activeMenu = 'Новости'; 
    - var pageTitle = 'Новости';
   
block crumbs


block main
    +b('main').main
        +b.SECTION.news
            +e.wrap
                +e('h1').title  Новости
                +e.items
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк',
                            img:'http://lorempixel.com/250/200',
                            date:'Сегодня',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк',
                            img:'http://lorempixel.com/250/200',
                            date:'11.12.2017',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк',
                            img:'http://lorempixel.com/250/200',
                            date:'11.12.2017',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк', 
                            date:'11.12.2017',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                    +e.item
                        +article({
                            title:'Отличный заголовок новости в пару строк',
                            img:'http://lorempixel.com/250/200',
                            date:'11.12.2017',
                            desc:'Текст использует первоначальный декаданс, именно об этом комплексе движущих сил писал З.Фрейд  '
                        })
                +e.paginator
                    include blocks/paginator.pug

                +e.desc.text
                    p Заключительный. СЕО-текст. Искусство готично иллюстрирует элитарный социально-психологический фактор. Литургическая драма монотонно представляет собой монтаж, однако само по себе состояние игры всегда амбивалентно. Беспристрастный анализ любого творческого акта показывает, что герменевтика диссонирует элитарный канон биографии. Притча, на первый взгляд, многопланово продолжает горизонт ожидания.