extends layouts/default.pug

block variables
    - var currentMenu = 'Продукция'; 
    - var pageTitle = 'Продукция';
   
block crumbs


block main
    +b('main').main
        +b.SECTION.products
            +e.wrap
                +e('h1').title  Продукция
                +e.categories
                    +e.A.category.--active(href='') Категория товара
                    +e.A.category(href='') Другая категория товара
                    +e.A.category(href='') Категория товара
                    +e.A.category(href='') Эти кнопки можно просто отключить
                
                +e.row
                    +e.left
                        +e.NAV.nav
                            +e.UL.nav-items
                                +e.LI.nav-item
                                    +e.A.nav-link(href='')
                                        +e.P.nav-title Краска АК-513 «Акцент»
                                        +e.P.nav-category Категория товара, 
                                            span от 120 ₽/кг
                                +e.LI.nav-item
                                    +e.A.nav-link(href='')
                                        +e.P.nav-title Краска АК-513 «Акцент»
                                        +e.P.nav-category Категория товара, 
                                            span от 120 ₽/кг
                                +e.LI.nav-item
                                    +e.A.nav-link(href='')
                                        +e.P.nav-title Краска АК-513 «Акцент»
                                        +e.P.nav-category Категория товара, 
                                            span от 120 ₽/кг
                                +e.LI.nav-item
                                    +e.A.nav-link(href='')
                                        +e.P.nav-title Краска АК-513 «Акцент»
                                        +e.P.nav-category Категория товара, 
                                            span от 120 ₽/кг
                    +e.right
                        +e.items
                            +e.item
                                +product-item({
                                    title:'Холодный спрей-пластик «Акцент»',
                                    category:'Категория товара',
                                    desc:'Холодный спрей-пластик «Акцент» - высоконаполненная масса, не содержащая растворителей и состоящая из акрилового сополимера...',
                                    price:'от 120 ₽/кг',
                                    img:'http://lorempixel.com/480/320/'
                                })
                            +e.item
                                +product-item({
                                    title:'Холодный спрей-пластик «Акцент»',
                                    category:'Категория товара',
                                    desc:'Холодный спрей-пластик «Акцент» - высоконаполненная масса, не содержащая растворителей и состоящая из акрилового сополимера...',
                                    price:'от 120 ₽/кг',
                                    img:'http://lorempixel.com/480/320/'
                                })
                            +e.item
                                +product-item({
                                    title:'Холодный спрей-пластик «Акцент»',
                                    category:'Категория товара',
                                    desc:'Холодный спрей-пластик «Акцент» - высоконаполненная масса, не содержащая растворителей и состоящая из акрилового сополимера...',
                                    price:'от 120 ₽/кг',
                                    img:'http://lorempixel.com/480/320/'
                                })
                            +e.item
                                +product-item({
                                    title:'Холодный спрей-пластик «Акцент»',
                                    category:'Категория товара',
                                    price:'от 120 ₽/кг',
                                    img:'http://lorempixel.com/480/320/'
                                })
                            +e.item
                                +product-item({
                                    title:'Холодный спрей-пластик «Акцент»',
                                    category:'Категория товара',
                                    desc:'Холодный спрей-пластик «Акцент» - высоконаполненная масса, не содержащая растворителей и состоящая из акрилового сополимера...',
                                    price:'от 120 ₽/кг',
                                    img:'http://lorempixel.com/480/320/'
                                })
                    
                        +e.paginator
                            include blocks/paginator.pug

                +e.desc.text
                    p Заключительный. СЕО-текст. Искусство готично иллюстрирует элитарный социально-психологический фактор. Литургическая драма монотонно представляет собой монтаж, однако само по себе состояние игры всегда амбивалентно. Беспристрастный анализ любого творческого акта показывает, что герменевтика диссонирует элитарный канон биографии. Притча, на первый взгляд, многопланово продолжает горизонт ожидания.