extends layouts/default.pug

block variables
    - var activeMenu = 'Продукция'; 
    - var pageTitle = 'Продукция';
   
block crumbs


block main
    +b('main').main
        +b.SECTION.product-page
            +e.IMG.img(src='http://lorempixel.com/1920/650/')
            +e.wrap
                +e.categories
                    +e.A.category(href='') Категория товара
                +e.row
                    +e.left
                        +e('h1').title  Краска АК-513 «Акцент»
                        +e.desc.text
                            p Холодный спрей-пластик «Акцент» - высоконаполненная масса, не содержащая растворителей и состоящая из акрилового сополимера, минеральных наполнителей и пигментов, отвaерждаемая перекисными соединениями.
                        +e.props
                            +e('h3').props-title Основные характеристики
                            +e.props-items
                                +e.P.prop--1 коэффициент яaркости: 
                                    span 70-79 %
                                +e.P.prop--2 время отверждения: 
                                    span 12 минут
                                +e.P.prop--3 температура размягчения по КиШ: 
                                    span 65°С
                            +e('h3').props-title Указания к применению
                            +e.props-items
                                +e.P.prop--3 Температура воздуха 
                                    span от +5°С до +35°С
                                +e.P.prop--3 Температура дорожного покрытия  
                                    span не ниже +5°С и не выше +45°С
                                +e.P.prop--4 Относительная влажность воздуха 
                                    span не более 85%
                        +e.table-wrap
                            +e.table
                                tr
                                    th Цвет
                                    th Плотность
                                    th КОЭФФИЦИЕНТ ЯРКОСТИ
                                    th ОПИСАНИЕ
                                    th ФОТО
                                tr
                                    td
                                        +e.color.--white
                                            +e.color-label Белый
                                    td
                                    td
                                    td
                                    td
                    +e.right
                        +e.side
                            +e.side-item
                                +e.H3.side-title 
                                    | Ответим на ваши
                                    br
                                    | вопросы
                                +b.ASIDE.contentform
                                    +e.form
                                        form.form
                                            +radio({
                                                name:'type',
                                                id:'adasd',
                                                label:'Частное лицо'
                                            })
                                        
                                            +radio({
                                                name:'type',
                                                id:'eret',
                                                label:'Компания'
                                            }) 

                                            br
                                    
                                            +input({
                                                name:'fio',
                                                label:'Представьтесь пожалуйста:',
                                                labelclass:''
                                            })
                                    
                                            +input({
                                                name:'phone',
                                                label:'Ваша эл. почта или телефон:',
                                                labelclass:'form__error',
                                            }) 
                                            +textarea({
                                                name:'text',
                                                label:'Ваше сообщение',
                                            })        
                                            +e.error
                                                .form__note.h-nomargins#js-form__error_box-callback
                                                    p.js-form__error-text.form__error#js-form__error_msg-callback Все поля формы обязательны для заполнения.
                                                
                                            +e.note 
                                                p Нажимая кнопку «Отправить» Вы соглашаетесь на обработку указанных Вами персональных данных. 
                                                p: a(href='') Подробнее
                                            
                                            +e('button').btn.--margin-top Отправить
                                            span.ajax-loader#js-form__preloader-callback(title='Подождите, пожалуйста') 
                                            
                                                    

                                    +e.success
                                        +e.success-column
                                            +e.success-wrap
                                                +e.IMG.img(src='/static/i/success.png')
                                                +e.P.success-message 
                                                    strong Константин, 
                                                    | Ваше сообщение успешно отправлено!
                                                +e.A.success-more(href='') Написать еще
                            +e.side-item
                                +e.H3.side-title  
                                    | Инструкция по
                                    br
                                    | применению
                                +e.docs
                                    +b('a').file--pdf(href='')
                                        span Техническая 
                                            br 
                                            | спецификация.pdf

                            +e.side-item
                                +e.H3.side-title Сертификаты
                                +b.certificates
                                    +e.items
                                        +e.items.js-pictures
                                            - for (var i = 0; i < 5; i++)
                                                +e.item
                                                    +e('a').item-link.js-picture(title='Описание Описание Описание Описание' data-size='800x600' href='http://dummyimage.com/800x600/ff7939/fff')
                                                        +e('img').item-img(src='http://lorempixel.com/90/130/')