extends layouts/default.pug

block variables
    - var activeMenu = 'Новости'; 
    - var pageTitle = 'Текстовая';
    - var crumbs = [{ name: 'Главная', href: 'main.html'}, { name: 'Новости', href: 'news.html'}, { name: 'Пример текстовой страницы'}];  



block main
    +b('main').main
        +b.publication
            +e.wrap
                +e('h1').title  Типовая текстовая страница
                +e.desc.text
                    p Освобождение искажает общественный закон внешнего мира, это же положение обосновывал Ж. Польти в книге «Тридцать шесть драматических ситуаций»
                    p Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет 
                        a(href='') собой ролевой SWOT-анализ, 
                        |  однако само по себе состояние игры всегда амбивалентно
                    p Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно.
                    h2 Заголовок второго уровня длиной на целых несколько строк, вот такой вот длинный заголовок
                    p Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно
                    p Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно.  
                    h3 Пример блока цитирования в тексте и заголовок третьего уровня, вот такой вот длинный заголовок получился

                    p Пример блока цитирования в тексте и заголовок третьего уровня, вот такой вот длинный заголовок получился
                    blockquote
                        p Цитата. Освобождение искажает общественный закон внешнего мира, это же положение обосновывал Ж. Польти в книге «Тридцать шесть драматических ситуаций». 
                        cite Автор цитаты (если есть)

                    p Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    ol
                        li Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно.
                            ol
                                li Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность.
                                    ol
                                        li Освобождение трогательно наивно.
                        li Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо.
                        li Дискредитация теории катарсиса, отбрасывая подробности, индуцирует структурализм, изменяя привычную реальность.
            +e('a').video-block.js-openvideo(href='http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1')
                +e.I.video-block-icon
                +e.IMG.video-block-img(src='http://lorempixel.com/1920/850/')
            +e.wrap
                +e.desc.text
                    h3 заголовок третьего уровня, вот такой вот длинный заголовок получился
                    p Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    h3 Галерея ровной плиткой
                    +e.gallery
                        +gallery2(5)
                    ul
                        li Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно.
                            ul
                                li Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность.
                                    ul
                                        li Освобождение трогательно наивно.
                        li Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо.
                        li Дискредитация теории катарсиса, отбрасывая подробности, индуцирует структурализм, изменяя привычную реальность.
                    h3 Галерея нестандартной компоновки
                    +b.mosaic.js-pictures
                        +e.wrap
                            +e.A.img--1.js-picture(data-size="600x800" href="http://dummyimage.com/600x800/ff7939/fff" style='background-image:url("https://dummyimage.com/440x240/ff7939/fff")')
                            +e.A.img--2.js-picture(data-size="600x800" href="http://dummyimage.com/600x800/ff7939/fff" style='background-image:url("https://dummyimage.com/220x240/ff7939/fff")')
                            +e.A.img--3.js-picture(data-size="600x800" href="http://dummyimage.com/600x800/ff7939/fff" style='background-image:url("https://dummyimage.com/220x240/ff7939/fff")')
                            +e.A.img--4.js-picture(data-size="600x800" href="http://dummyimage.com/600x800/ff7939/fff" style='background-image:url("https://dummyimage.com/550x480/ff7939/fff")')

                    h3 Галерея нестандартной компоновки
                    +b.mosaic.js-pictures
                        +e.wrap
                            +e.A.img--1.js-picture(data-size="600x800" href="http://dummyimage.com/600x800/ff7939/fff" style='background-image:url("https://lorempixel.com/440/240")')
                            +e.A.img--2.js-picture(data-size="600x800" href="http://dummyimage.com/600x800/ff7939/fff" style='background-image:url("https://lorempixel.com/220/240")')
                            +e.A.img--3.js-picture(data-size="600x800" href="http://dummyimage.com/600x800/ff7939/fff" style='background-image:url("https://lorempixel.com/220/240")')
                            +e.A.img--4.js-picture(data-size="600x800" href="http://dummyimage.com/600x800/ff7939/fff" style='background-image:url("https://lorempixel.com/550/480")')

                    h3 Фото в тексте
                    figure.h-align_right
                        img(src='http://lorempixel.com/550/370')
                        figcaption Подпись к фото (если есть)
                    p Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    h3 Фото на всю ширину экрана
            +e.full
                +e.full-img(src='http://lorempixel.com/1920/850/')
                +e.full-wrap
                    +e.full-caption Подпись к фото (если есть)

            +e.wrap
                +e.desc.text
                    p  Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    h3 Фото-слайдер
                    +e.slider
                        include blocks/content-slider.pug
                
                    h3 Таблица

                    table 
                        tr
                            th Заголовок столбца	
                            th Заголовок столбца	
                            th Стоимость
                        tr
                            td КБЕ-856
                            td Служба Яндекс.
                            td 18900 руб.
                        tr
                            td 2000
                            td Нажав на кнопку
                            td 18900 руб.
                        tr
                            td 2000
                            td Нажав на кнопку 
                            td 18900 руб.

                    p Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно.

            +e.promo
                +e.promo-wrap
                    +e.promo-text
                        p Текст на фоне цветной фирменной подложки. Освобождение трогательно наивно. Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
            +e.wrap
                +e.desc.text
                    p Апперцепция категорически просветляет стратегический метод кластерного анализа, осознавая социальную ответственность бизнеса. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    p Фокус-группа понимает под собой дедуктивный метод, изменяя привычную реальность. Выразительное недостижимо. Апостериори, типическое представляет собой ролевой SWOT-анализ, однако само по себе состояние игры всегда амбивалентно. 
                    h3 Вложенные документы
                    +b.files
                        +e.items
                            +e.item
                                +b('a').file--pdf(href='')
                                    span  Заголовок документа Заголовок документа Заголовок документа
                            +e.item
                                +b('a').file--doc(href='') 
                                    span Заголовок документа
                            +e.item
                                +b('a').file--docx(href='')
                                    span Заголовок документа
                            +e.item
                                +b('a').file--txt(href='')
                                    span Заголовок документа
                            +e.item
                                +b('a').file--zip(href='')
                                    span Заголовок документа


                            