
@font-face {
    font-family: 'Elephant';
    src: url('../font/elephant.woff2') format('woff2'),
         url('../font/elephant.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}