
@font-face {
    font-family: 'Panton Black';
    src: url('../font/panton/panton_black.woff2') format('woff2'),
         url('../font/panton/panton_black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Panton Bold';
    src: url('../font/panton/panton_bold.woff2') format('woff2'),
         url('../font/panton/panton_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Panton Light';
    src: url('../font/panton/panton_light.woff2') format('woff2'),
         url('../font/panton/panton_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Panton Semibold';
    src: url('../font/panton/panton_semibold.woff2') format('woff2'),
         url('../font/panton/panton_semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Panton';
    src: url('../font/panton/panton.woff2') format('woff2'),
         url('../font/panton/panton.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}