.footer
    position relative
    padding 1.5rem 0
    background #1e1f24
    font-family $fontFamilyPanton
    font-size 1.6rem
    color #fff
    text-transform uppercase
    span
        color #808080
    a
        color #fff
        &:hover
            opacity .7

    &__wrap
        @extend $container


    &__row
        @extend $row
        justify-content space-between
        align-items center
        +mediamin('xl')
            margin 0 -3rem


    &__col
        padding .5rem 1.5rem
        +mediamin('xl')
            padding .5rem 3rem
        +mediamax('sm')
            padding .5rem 1rem
            width 100%
            text-align center


        &--meta
            margin-left auto
            text-align left
            +mediamin('sm')
                text-align right
            +mediamin('md')
                order 3

    &__copyright
        display inline-block
        position relative
        white-space nowrap
        padding-left 4rem
        &:before
            content ''
            position absolute
            left 0
            top  50%
            margin-top -1.8rem
            icon 'logoicon'
            display inline-block
            vertical-align middle
            opacity .2
            margin-right 1rem

    &__meta
        display block
        +mediamax('sm')
            margin 0 auto
        icon 'meta'
        opacity .15
        transition opacity .2s
        &:hover
            opacity .5

    
