.header
    position relative
    min-height 8.5rem 



    &__wrap
        @extend $container
       

    &__row
        @extend $row
        align-items center
        min-height 6.5rem
        justify-content space-between
        +mediamin('sm')
            flex-wrap nowrap




    &__col
        padding  1rem 1.5rem
        order 2

        +mediamax('sm')
            padding  .5rem 1rem
        

        &--logo
            //padding-left ($gutter / 2)
            +mediamin('sm')
                order 0

        &--menu
            width 100%
            max-width 66.5rem
            +mediamin('sm')
                order 1

        

    &__flow
        +mediamin('md')
            position fixed
        top 0
        left 0
        //height 4rem
        width 100%
        padding 1rem 0
        background#2d2e34
        z-index: $z-index.header__flow
        transition padding .2s
        +mediamax('xs')
            padding .5rem 0


    &--flow &__flow
        padding 0

    &--flow &__row
        //height 4rem



    &__phone
        text-align right
        white-space nowrap
        font-size 2.2rem
        line-height 1em
        color #fff
        font-family $fontFamilyPantonSemibold
        +mediamax('xs')
            font-size 1.6rem
        span
            display block
            font-size .6em
            opacity .4
            font-family $fontFamilyPanton
