
$like-h1,
$like-h2,
$like-h3,
$like-h4,
$like-h5,
$like-h6
    font-family $fontFamilyTitle
    color $colorTitle
    line-height 1.2em
    font-style normal
    letter-spacing .08em
    font-weight: 600
    margin 0 0 3rem 0
    +mediamax('sm')
        word-wrap break-word


$like-h1
    font-size 4rem
    text-transform uppercase
    +mediamax('xs')
        font-size 3rem



$like-h2
    font-size 3rem
    text-transform uppercase
    line-height 1.5em
    +mediamax('xs')
        font-size 2.6rem



$like-h3
    font-size 2rem
    text-transform uppercase
    line-height 1.5em
    +mediamax('xs')
        font-size 2rem



$like-h4
    font-size 1.8rem
    font-weight 500
    +mediamax('xs')
        font-size 1.8rem



$like-h5
    font-size 1.6rem
    font-weight 500
    +mediamax('xs')
        font-size 1.7rem


$like-h6
    font-size 1.2rem
    line-height 2rem
    text-transform uppercase
    font-weight 500