image-address()
    background-repeat no-repeat
    width (22/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2026%22%3E%3Cpath%20fill%3D%22%231188ED%22%20d%3D%22M11%201C7.1%201%204%204.1%204%208c0%203.5%205.5%2011.6%206.1%2012.5l.8%201.2.8-1.2c.6-.9%206.1-9%206.1-12.5.2-3.9-2.9-7-6.8-7zm0%2017.1C8.8%2014.7%206.1%209.9%206.1%208c0-2.7%202.2-4.9%204.9-4.9s4.9%202.2%204.9%204.9c0%201.9-2.7%206.7-4.9%2010.1zm0-12.4c-1.1%200-2.1.9-2.1%202.1%200%201.1.9%202.1%202.1%202.1%201.1%200%202.1-.9%202.1-2.1%200-1.2-1-2.1-2.1-2.1z%22%2F%3E%3Cpath%20fill%3D%22%231188ED%22%20d%3D%22M16.9%2016.7l-1-.3-.6%202%201%20.3c2.1.6%202.8%201.4%202.8%201.8%200%20.8-2.9%202.5-8.1%202.5-2.3%200-4.5-.3-6.1-.9-1.4-.5-2-1.2-2-1.5%200-.4.7-1.2%202.7-1.8l1-.3-.6-2-1%20.3C2.3%2017.6.8%2019%20.8%2020.6c0%20.8.4%202.3%203.4%203.4%201.8.6%204.2%201%206.7%201h.1c5.1%200%2010.2-1.6%2010.2-4.6%200-1.6-1.5-2.9-4.3-3.7z%22%2F%3E%3C%2Fsvg%3E')
    background-size (22/10)rem (26/10)rem
$icon-address
    image-address()
image-archive()
    background-repeat no-repeat
    width (26/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2024%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M24.8%2022.2h-6.1c.5-.7.9-1.5%201.1-2.4h3.8V9H2.4v10.8h3.8c.2.9.6%201.7%201.1%202.4H1.2C.5%2022.2%200%2021.7%200%2021V3c0-.7.5-1.2%201.2-1.2h4.3v-.6C5.5.5%206%200%206.7%200s1.2.5%201.2%201.2v3c0%20.7-.5%201.2-1.2%201.2s-1.2-.5-1.2-1.2H2.4v3.6h21.3V4.2h-1.9V1.8h3.1c.6%200%201.1.5%201.1%201.2v18c0%20.7-.5%201.2-1.2%201.2zM19.3%205.4c-.7%200-1.2-.5-1.2-1.2h-2.8V1.8h2.8v-.6c0-.7.5-1.2%201.2-1.2s1.2.5%201.2%201.2v3c0%20.7-.5%201.2-1.2%201.2zm-6.3%200c-.7%200-1.2-.5-1.2-1.2H9V1.8h2.8v-.6c0-.7.5-1.2%201.2-1.2s1.2.5%201.2%201.2v3c0%20.7-.5%201.2-1.2%201.2zM13%2018v-6c3.3%200%205.9%202.7%205.9%206s-2.6%206-5.9%206c-3.3%200-5.9-2.7-5.9-6H13z%22%2F%3E%3C%2Fsvg%3E')
    background-size (26/10)rem (24/10)rem
$icon-archive
    image-archive()
image-brightness()
    background-repeat no-repeat
    width (512/10)rem
    height (512/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23272727%22%20d%3D%22M50.1%20239.3H16.7C7.5%20239.3%200%20246.8%200%20256s7.5%2016.7%2016.7%2016.7h33.4c9.2%200%2016.7-7.5%2016.7-16.7s-7.5-16.7-16.7-16.7zm445.2%200h-33.4c-9.2%200-16.7%207.5-16.7%2016.7s7.5%2016.7%2016.7%2016.7h33.4c9.2%200%2016.7-7.5%2016.7-16.7s-7.5-16.7-16.7-16.7zM256%20445.2c-9.2%200-16.7%207.5-16.7%2016.7v33.4c0%209.2%207.5%2016.7%2016.7%2016.7s16.7-7.5%2016.7-16.7v-33.4c0-9.2-7.5-16.7-16.7-16.7zM256%200c-9.2%200-16.7%207.5-16.7%2016.7v33.4c0%209.2%207.5%2016.7%2016.7%2016.7s16.7-7.5%2016.7-16.7V16.7C272.7%207.5%20265.2%200%20256%200zm134.1%20454.9L373.4%20426c-4.6-8-14.8-10.7-22.8-6.1s-10.7%2014.8-6.1%2022.8l16.7%2028.9c4.6%208%2014.8%2010.7%2022.8%206.1s10.7-14.8%206.1-22.8zM167.5%2069.3l-16.7-28.9c-4.6-8-14.8-10.7-22.8-6.1s-10.7%2014.8-6.1%2022.8L138.6%2086c4.6%208%2014.8%2010.7%2022.8%206.1s10.7-14.8%206.1-22.8zm304.1%20291.9l-28.9-16.7c-8-4.6-18.2-1.9-22.8%206.1-4.6%208-1.9%2018.2%206.1%2022.8l28.9%2016.7c8%204.6%2018.2%201.9%2022.8-6.1s1.9-18.2-6.1-22.8zM86%20138.6l-28.9-16.7c-8-4.6-18.2-1.9-22.8%206.1s-1.9%2018.2%206.1%2022.8l28.9%2016.7c8%204.6%2018.2%201.9%2022.8-6.1%204.6-8%201.9-18.2-6.1-22.8zM477.7%20128c-4.6-8-14.8-10.7-22.8-6.1L426%20138.6c-8%204.6-10.7%2014.8-6.1%2022.8s14.8%2010.7%2022.8%206.1l28.9-16.7c8-4.6%2010.7-14.8%206.1-22.8zM92.1%20350.6c-4.6-8-14.8-10.7-22.8-6.1l-28.9%2016.7c-8%204.6-10.7%2014.8-6.1%2022.8s14.8%2010.7%2022.8%206.1L86%20373.4c8-4.6%2010.7-14.8%206.1-22.8z%22%2F%3E%3Cpath%20d%3D%22M384%2034.3c-8-4.6-18.2-1.9-22.8%206.1l-16.7%2028.9c-4.6%208-1.9%2018.2%206.1%2022.8%208%204.6%2018.2%201.9%2022.8-6.1l16.7-28.9c4.6-8%201.9-18.2-6.1-22.8zM161.4%20419.9c-8-4.6-18.2-1.9-22.8%206.1l-16.7%2028.9c-4.6%208-1.9%2018.2%206.1%2022.8%208%204.6%2018.2%201.9%2022.8-6.1l16.7-28.9c4.6-8%201.9-18.2-6.1-22.8zM256%20100.2c-85.9%200-155.8%2069.9-155.8%20155.8S170.1%20411.8%20256%20411.8%20411.8%20341.9%20411.8%20256%20341.9%20100.2%20256%20100.2zm0%2033.4v244.8c-67.5%200-122.4-54.9-122.4-122.4S188.5%20133.6%20256%20133.6%22%2F%3E%3C%2Fsvg%3E')
    background-size (512/10)rem (512/10)rem
$icon-brightness
    image-brightness()
image-checkbox()
    background-repeat no-repeat
    width (20/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M17.6%206.3l-9.5%209.5c-.1.1-.3.1-.4%200l-5.3-5.3c-.1-.1-.1-.3%200-.4l1.8-1.8c.1-.1.3-.1.4%200l3.3%203.3L15.5%204c.1-.1.3-.1.4%200l1.8%201.8c0%20.2%200%20.4-.1.5z%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (20/10)rem
$icon-checkbox
    image-checkbox()
image-chosen-select()
    background-repeat no-repeat
    width (12/10)rem
    height (8/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%208%22%3E%3Cpath%20fill%3D%22%23B5B5B5%22%20d%3D%22M6.5%207l4.8-5c.3-.3.3-.8%200-1.1-.3-.3-.8-.3-1.1%200L6%205.4%201.7%201C1.4.7%201%20.7.7%201c-.3.3-.3.8%200%201.1l4.8%205c.3.2.7.2%201-.1z%22%2F%3E%3C%2Fsvg%3E')
    background-size (12/10)rem (8/10)rem
$icon-chosen-select
    image-chosen-select()
image-close-blue()
    background-repeat no-repeat
    width (26/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%2335385e%22%20d%3D%22M25.7%203.8L22.2.3%2013%209.5%203.8.3.3%203.8%209.5%2013%20.3%2022.2l3.5%203.5%209.2-9.2%209.2%209.2%203.5-3.5-9.2-9.2z%22%2F%3E%3C%2Fsvg%3E')
    background-size (26/10)rem (26/10)rem
$icon-close-blue
    image-close-blue()
image-close()
    background-repeat no-repeat
    width (16/10)rem
    height (16/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23999%22%20d%3D%22M15.1%2013.7L9.4%208l5.7-5.7c.4-.4.4-1%200-1.4-.4-.4-1-.4-1.4%200L8%206.6%202.3.9C1.9.5%201.3.5.9.9c-.4.4-.4%201%200%201.4L6.6%208%20.9%2013.7c-.4.4-.4%201%200%201.4.4.4%201%20.4%201.4%200L8%209.4l5.7%205.7c.4.4%201%20.4%201.4%200%20.4-.4.4-1.1%200-1.4z%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (16/10)rem
$icon-close
    image-close()
image-fb()
    background-repeat no-repeat
    width (45/10)rem
    height (45/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2045%2045%22%3E%3Cpath%20fill%3D%22%23F2ECE8%22%20d%3D%22M24.4%2034.9h-4.6V22.5h-3.1v-4.3h3.1v-2.5c0-3.5.9-5.6%205-5.6h3.4v4.3h-2.1c-1.6%200-1.7.6-1.7%201.7v2.1h3.8l-.5%204.3h-3.4l.1%2012.4z%22%2F%3E%3C%2Fsvg%3E')
    background-size (45/10)rem (45/10)rem
$icon-fb
    image-fb()
image-humidity()
    background-repeat no-repeat
    width (40/10)rem
    height (40/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cstyle%3E.st0%7Bfill%3Anone%3Bstroke%3A%23272727%3Bstroke-width%3A5%3Bstroke-miterlimit%3A10%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M27.1%2017c-3-3.9-5.9-6.6-6.1-11.8%200-.2-.1-.3-.2-.4%200-.3-.3-.4-.6-.3-.3%200-.6.2-.6.6-6.5%207-17.4%2024.6-3.6%2029.7%206.2%202.3%2013.2-.8%2014.4-7.6.7-3.6-1.2-7.5-3.3-10.2zm-11%2014.5%22%2F%3E%3Cpath%20fill%3D%22%23272727%22%20d%3D%22M16.1%2031.5c-1.5-.9-2.4-2.6-2.9-4.1-.2-.8-.3-1.5-.3-2.3.3-1.3.7-2.6%201.2-3.9.3%201.1.8%202.3%201.5%203.1%201.6%201.8%205%202.9%205.9%205.1.6%201.4-1.6%202.6-2.6%202.9-.9.2-2-.3-2.8-.8z%22%2F%3E%3C%2Fsvg%3E')
    background-size (40/10)rem (40/10)rem
$icon-humidity
    image-humidity()
image-in()
    background-repeat no-repeat
    width (45/10)rem
    height (45/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2045%2045%22%3E%3Cg%20fill%3D%22%23F2ECE8%22%3E%3Ccircle%20cx%3D%2229%22%20cy%3D%2217%22%20r%3D%221.4%22%2F%3E%3Cpath%20d%3D%22M22.8%2017.2c-3.3%200-6%202.7-6%206s2.7%206%206%206%206-2.7%206-6c0-3.4-2.7-6-6-6zm0%209.3c-1.9%200-3.4-1.5-3.4-3.4s1.5-3.4%203.4-3.4%203.4%201.5%203.4%203.4c.1%201.9-1.5%203.4-3.4%203.4z%22%2F%3E%3Cpath%20d%3D%22M28.5%2011.5H17.1c-3.2%200-5.8%202.6-5.8%205.8v11.5c0%203.2%202.6%205.8%205.8%205.8h11.5c3.2%200%205.8-2.6%205.8-5.8V17.4c0-3.2-2.6-5.9-5.9-5.9zm3.4%2017.3c0%201.8-1.5%203.3-3.3%203.3H17.1c-1.8%200-3.3-1.5-3.3-3.3V17.4c0-1.8%201.5-3.3%203.3-3.3h11.5c1.8%200%203.3%201.5%203.3%203.3v11.4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (45/10)rem (45/10)rem
$icon-in
    image-in()
image-label-1()
    background-repeat no-repeat
    width (34/10)rem
    height (34/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034%2034%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%239E7BBA%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%3E%3Cpath%20d%3D%22M17%205.7c-8%200-14.5.8-14.5%201.8S9%209.3%2017.1%209.3c7.8%200%2014.1-.7%2014.5-1.7v-.1c0-1-6.5-1.8-14.6-1.8z%22%2F%3E%3Cpath%20d%3D%22M31.8%2010.5c0-1-.1-2-.3-2.9-.4.9-6.7%201.7-14.5%201.7-8%200-14.5-.8-14.5-1.8-.2%201-.3%202-.3%203%200%205.9%203.5%2011%208.5%2013.4l-.7%203.3c0%20.6%203.1%201.1%207%201.1s7-.5%207-1.1l-.6-3.3c5-2.4%208.4-7.5%208.4-13.4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (34/10)rem (34/10)rem
$icon-label-1
    image-label-1()
image-label-2()
    background-repeat no-repeat
    width (34/10)rem
    height (34/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034%2034%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%239E7BBA%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%3E%3Ccircle%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2216.3%22%2F%3E%3Cpath%20d%3D%22M17%2028.8v1.9m0-27.4v1.9m5.9%2022l1%201.7M10.1%205.1l1%201.7m16.1%2016.1l1.7%201M5.1%2010.1l1.7%201m22%205.9h1.9M3.3%2017h1.9m22-5.9l1.7-1M5.1%2023.9l1.7-1M22.9%206.8l1-1.7M10.1%2028.9l1-1.7M21.4%204L17%2017l8.9-3.1%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (34/10)rem (34/10)rem
$icon-label-2
    image-label-2()
image-li()
    background-repeat no-repeat
    width (118/10)rem
    height (6/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22118%22%20height%3D%226%22%20viewBox%3D%220%200%20118%206%22%3E%3Ccircle%20cx%3D%223%22%20cy%3D%223%22%20r%3D%223%22%2F%3E%3Cpath%20d%3D%22M17%201c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-1c-1.7%200-3%201.3-3%203s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3zm14%201c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-1c-1.7%200-3%201.3-3%203s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3zm14%201c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-1c-1.7%200-3%201.3-3%203s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3zm14%201c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-1c-1.7%200-3%201.3-3%203s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3zm14%201c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-1c-1.7%200-3%201.3-3%203s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3zm14%201c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-1c-1.7%200-3%201.3-3%203s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3zm14%201c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-1c-1.7%200-3%201.3-3%203s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3zm14%201c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-1c-1.7%200-3%201.3-3%203s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3z%22%2F%3E%3C%2Fsvg%3E')
    background-size (118/10)rem (6/10)rem
$icon-li
    image-li()
image-logo()
    background-repeat no-repeat
    width (170/10)rem
    height (38/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20170%2038%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M37.4%2026.6c.2%200%20.2%200%20.2.2v.2c0%20.2%200%20.2-.2.2h-1.1v9.1h1.1c.2%200%20.2%200%20.2.2v.3c0%20.2%200%20.2-.2.2h-1.6c-.2%200-.2%200-.2-.2v-10c0-.2%200-.2.2-.2h1.6z%22%2F%3E%3Cpath%20class%3D%22st0%22%20fill%3D%22%23fff%22%20d%3D%22M44.7%2032.4c0-.9-.5-1.4-1.5-1.4h-.7v4h.7c1%200%201.5-.5%201.5-1.4v-1.2zm-4.8%201.2c0%20.9.5%201.4%201.4%201.4h.7v-4h-.7c-.7%200-1.4.3-1.4%201.5v1.1zm2.7-3.2h.7c.6%200%201.1.2%201.5.5.4.3.6.8.6%201.5v1.2c0%201.3-.7%202-2.1%202h-.7v1.9c0%20.1%200%20.2-.2.2h-.3c-.1%200-.2-.1-.2-.2v-1.9h-.7c-1.4%200-2.1-.7-2.1-2v-1.2c0-1.4.8-2%202.1-2h.7v-1.9c0-.1.1-.2.2-.2h.3c.1%200%20.2.1.2.2v1.9zm8.3%201.8c0-.7-.6-1.2-1.5-1.2s-1.5.5-1.5%201.2v1.7c0%20.7.6%201.2%201.5%201.2s1.5-.4%201.5-1.2v-1.7zm-3.6%200c0-1.1.8-1.8%202.1-1.8s2.1.7%202.1%201.8v1.7c0%201.1-.8%201.8-2.1%201.8s-2.1-.7-2.1-1.8v-1.7zm9.7.1c0-.9-.5-1.3-1.4-1.3-.4%200-.8.1-1.2.2-.2.1-.2.1-.2.3v3.3c.5.2.9.3%201.4.3.9%200%201.4-.5%201.4-1.3v-1.5zm-1.4-1.9c1.3%200%202%20.6%202%201.9v1.4c0%201.3-.7%201.9-2%201.9-.4%200-.9-.1-1.4-.3v2.1c0%20.1-.1.2-.2.2h-.3c-.1%200-.2-.1-.2-.2v-6.2c0-.3.1-.4.4-.5.5-.2%201.1-.3%201.7-.3m8.8.1c.2%200%20.2%200%20.2.2v4.6c0%20.1%200%20.2-.2.2h-.2c-.2%200-.2%200-.2-.2v-2.6c0-.3%200-.7.1-1.2-.1.3-.3.6-.5%201l-1.1%202c0%20.1-.1.1-.2.1h-.2c-.1%200-.2%200-.2-.1l-1.1-1.9c-.2-.3-.3-.6-.5-1%20.1.5.1%201%20.1%201.3v2.6c0%20.1%200%20.2-.2.2h-.3c-.1%200-.2%200-.2-.2v-4.6c0-.1%200-.2.2-.2h.2c.1%200%20.2%200%20.3.1l1.8%203.1%201.8-3.1c0-.1.1-.2.2-.2h.2zm6.3%200c.1%200%20.2.1.2.2v5.1c0%201.4-.7%202.1-2%202.1-.9%200-1.5-.3-1.9-1-.1-.1-.1-.2.1-.3l.2-.1c.1-.1.2%200%20.3.1.3.5.7.8%201.3.8.9%200%201.4-.5%201.4-1.5v-.6c-.6.2-1.1.3-1.5.3-1.3%200-1.9-.6-1.9-1.9v-2.9c0-.1%200-.2.2-.2h.3c.1%200%20.2%200%20.2.2v2.9c0%20.9.5%201.3%201.3%201.3.4%200%20.9-.1%201.4-.3v-3.9c0-.1.1-.2.2-.2h.2zm6.2%200c.1%200%20.2.1.2.2v4.6c0%20.1-.1.2-.2.2h-.3c-.1%200-.2-.1-.2-.2v-4.2h-2.2v1.2c0%201.2-.1%202-.4%202.5-.3.5-.5.6-.9.8-.1%200-.2%200-.2-.1l-.1-.3c0-.1%200-.1.1-.2.2-.1.3-.2.5-.4.1-.1.2-.3.2-.5.1-.3.2-1%20.2-1.9v-1.6c0-.1%200-.2.2-.2h3.1zm5.4%202.8c-.6-.1-1-.1-1.3-.1-1%200-1.4.3-1.4.9%200%20.7.3%201%201.4%201%20.5%200%20.9%200%201.2-.2.2-.1.2-.1.2-.3v-1.3zM81%2030.4c1.4%200%201.9.7%201.9%201.9v2.5c0%20.3-.1.4-.3.5-.4.2-.9.3-1.6.3-.8%200-1.3-.1-1.6-.4-.3-.2-.4-.6-.4-1.1%200-1.1.6-1.5%202.1-1.5.3%200%20.7%200%201.3.1v-.4c0-.8-.3-1.3-1.3-1.3-.6%200-1.1.2-1.3.7-.1.1-.2.1-.2.1l-.2-.1c-.1%200-.2-.1-.1-.3.2-.7.8-1%201.7-1m11.4%204.9c.1.1%200%20.2-.1.2H92c-.2%200-.2%200-.3-.2l-.7-1.5c-.2-.4-.5-.6-.9-.6H89v2.1c0%20.1%200%20.2-.2.2h-.3c-.1%200-.2%200-.2-.2v-4.6c0-.1.1-.2.2-.2h.3c.1%200%20.2.1.2.2v1.9h1.1l1.5-2c.1-.1.1-.1.3-.1h.3c.2%200%20.2.1.1.2l-1.6%202c.3.1.6.3.8.8l.9%201.8zm4.9-2c-.6-.1-1-.1-1.3-.1-1%200-1.4.3-1.4.9%200%20.7.3%201%201.4%201%20.5%200%20.9%200%201.2-.2.2-.1.2-.1.2-.3v-1.3zm-1.2-2.9c1.4%200%201.9.7%201.9%201.9v2.5c0%20.3-.1.4-.3.5-.4.2-.9.3-1.6.3-.8%200-1.3-.1-1.6-.4-.4-.2-.5-.6-.5-1.1%200-1.1.6-1.5%202.1-1.5.3%200%20.7%200%201.3.1v-.4c0-.8-.3-1.3-1.3-1.3-.6%200-1.1.2-1.3.7-.1.1-.2.1-.2.1l-.2-.1c-.1%200-.2-.1-.1-.3.2-.7.8-1%201.8-1m3.7.3c0-.1.1-.2.2-.2h.3c.1%200%20.2.1.2.2v1.2c0%20.8.4%201.2%201.4%201.2.3%200%20.7-.1%201.3-.2v-2.2c0-.1%200-.2.2-.2h.3c.1%200%20.2.1.2.2v4.6c0%20.1-.1.2-.2.2h-.3c-.1%200-.2%200-.2-.2v-1.8c-.5.1-.9.2-1.4.2-1.3%200-1.9-.6-1.9-1.8v-1.2zm9.6%201.6c0-.9-.5-1.4-1.5-1.4s-1.5.5-1.5%201.4v.3h3v-.3zm-3.6.1c0-1.3.7-2%202.1-2%201.4%200%202.1.8%202.1%202v.5c0%20.2-.1.3-.3.3h-3.3v.6c0%20.8.5%201.3%201.4%201.3.7%200%201.2-.3%201.5-.8.1-.1.2-.1.3-.1l.2.1c.1.1.1.2.1.3-.4.7-1.1%201-2.1%201-1.4%200-2.1-.7-2.1-1.9v-1.3zm6.1-.1c0-1.2.7-1.9%202.1-1.9%201.1%200%201.7.4%202%201.3%200%20.1%200%20.2-.1.3l-.2.1c-.1%200-.2%200-.2-.1-.2-.7-.6-.9-1.4-.9-.9%200-1.4.5-1.4%201.3v1.5c0%20.8.5%201.3%201.4%201.3.7%200%201.2-.3%201.4-1%200-.1.1-.1.2-.1l.2.1c.1%200%20.2.1.1.3-.3.9-1%201.3-2.1%201.3-1.3%200-2.1-.7-2.1-1.9v-1.6zm9.4-1.8c.1%200%20.2%200%20.2.2v.3c0%20.1-.1.2-.2.2h-1.5v4.2c0%20.1-.1.2-.2.2h-.3c-.1%200-.2-.1-.2-.2v-4.2h-1.5c-.1%200-.2-.1-.2-.2v-.3c0-.1.1-.2.2-.2h3.7zm4.5%204.4c.5%200%20.9-.3.9-.9%200-.5-.3-.9-.9-.9h-1.9v1.7h1.9zm-.1-2.2c.5%200%20.8-.3.8-.8s-.3-.8-.8-.8h-1.8v1.6h1.8zm.9.2c.5.2.8.6.8%201.2%200%20.8-.5%201.4-1.4%201.4h-2.5c-.1%200-.2-.1-.2-.2v-4.6c0-.1.1-.2.2-.2h2.4c.9%200%201.4.5%201.4%201.3-.1.5-.3.9-.7%201.1m5.8.4c-.6-.1-1-.1-1.3-.1-1%200-1.4.3-1.4.9%200%20.7.3%201%201.4%201%20.5%200%20.9%200%201.2-.2.2-.1.2-.1.2-.3v-1.3zm-1.2-2.9c1.4%200%201.9.7%201.9%201.9v2.5c0%20.3-.1.4-.3.5-.4.2-.9.3-1.6.3-.8%200-1.3-.1-1.6-.4-.3-.2-.4-.6-.4-1.1%200-1.1.6-1.5%202.1-1.5.3%200%20.7%200%201.3.1v-.4c0-.8-.3-1.3-1.3-1.3-.6%200-1.1.2-1.3.7-.1.1-.2.1-.2.1l-.2-.1c-.1%200-.2-.1-.1-.3.1-.7.7-1%201.7-1m5.3-3.8c.2%200%20.2%200%20.2.2v10c0%20.2%200%20.2-.2.2h-1.6c-.2%200-.2%200-.2-.2v-.3c0-.2%200-.2.2-.2h1.1v-9.1h-1.1c-.2%200-.2%200-.2-.2v-.3c0-.2%200-.2.2-.2h1.6zm18-1.9l-3.7-6.1zm0%200l-3.7-6.1zm3.7%2012.3h-5.4c-1.2%200-2.4-.6-3-1.7l-10-16.7%203.7-6.1%203.7%206.1%2011%2018.4zm11.1%200h-5.4c-1.2%200-2.4-.6-3-1.7l-4.5-7.5%203.7-6.1%209.2%2015.3zm0-36.9l-11.1%2018.4-3.7%206.1-3.7-6.1%203.7-6.1%206.3-10.6c.6-1.1%201.8-1.7%203-1.7h5.5zm-11.1%200l-5.5%209.2-3.7%206.1-3.7-6.1%203.7-6.1.8-1.4c.6-1.1%201.8-1.7%203-1.7h5.4zm-140%2010.5c0-2.5-1.3-3.7-3.9-3.7h-1.4v9.7h1.4c2.6%200%203.9-1.2%203.9-3.7v-2.3zM8.1%206.9c-2.6%200-3.9%201.2-3.9%203.7V13c0%202.5%201.3%203.7%203.9%203.7h1.4V6.9H8.1zm3.8-5.3c.7%200%20.9.2.9.9v1.4h1.4c4.7%200%207.3%202.5%207.3%206.9v2.1c0%204.3-2.6%206.9-7.3%206.9h-1.4v1.4c0%20.7-.3.9-.9.9h-1.5c-.7%200-.9-.2-.9-.9v-1.4H8.1c-4.7%200-7.3-2.5-7.3-6.9v-2.1c0-4.3%202.6-6.9%207.3-6.9h1.4V2.5c0-.7.2-.9.9-.9h1.5zm24.6%207.3C36.5%206.4%2035%205%2032.2%205s-4.3%201.4-4.3%203.9v6c0%202.5%201.5%203.9%204.3%203.9s4.3-1.4%204.3-3.9v-6zm-12.1%200c0-4.4%202.8-7.1%207.8-7.1%204.9%200%207.7%202.7%207.7%207.1v5.9c0%204.4-2.8%207.1-7.7%207.1-5%200-7.8-2.7-7.8-7.1V8.9zm26.1%202.7c2%200%203.1-1.1%203.1-3.1s-1.2-3.1-3.1-3.1h-4.4v6.2h4.4zm.3-9.4c3.9%200%206.4%202.4%206.4%206.3s-2.5%206.3-6.4%206.3h-4.7v5.8c0%20.7-.2.9-.9.9h-1.5c-.7%200-.9-.2-.9-.9V3.2c0-.7.3-.9.9-.9h7.1zm26.5%200c.7%200%20.9.2.9.9v17.4c0%20.7-.2.9-.9.9h-1.4c-.7%200-.9-.2-.9-.9v-8.3c0-1.6.2-3.4.6-5.4h-.2c-.5%201.6-1.3%203.2-2.2%205l-2.7%204.7c-.3.4-.6.7-1.1.7h-.9c-.6%200-.8-.1-1.1-.7l-2.7-4.7c-.8-1.4-1.5-3.1-2.1-4.9h-.2c.4%201.8.6%203.7.6%205.4v8.2c0%20.7-.2.9-.9.9H61c-.7%200-.9-.2-.9-.9V3.2c0-.7.3-.9.9-.9h1.2c.8%200%201%20.1%201.3.7l5.6%2010%205.6-10c.3-.6.5-.8%201.3-.8h1.3zm19%200c.6%200%20.7.3.5.9l-8.1%2017.5c-.3.7-.5.8-1.5.8h-1.8c-.6%200-.8-.3-.5-.9l2.4-4.7-6.6-12.6c-.3-.6-.2-.9.5-.9h1.6c1.2%200%201.3%200%201.8.8l4.5%209%204.1-9c.3-.8.5-.8%201.7-.8h1.4zm14.6%200c.7%200%20.9.2.9.9v17.4c0%20.7-.2.9-.9.9h-1.6c-.7%200-.9-.2-.9-.9V5.4h-5.7v3.5c0%203.7-.5%206.6-1%208.3-.3.8-.7%201.6-1.2%202.2-1%201.3-1.7%201.7-2.9%202.3-.6.3-1%20.2-1.2-.4l-.7-1.4c-.3-.6-.1-1%20.4-1.2.8-.4%201.1-.5%201.8-1.5.4-.5.6-1%20.8-1.6.4-1.3.7-3.6.7-6.7V3.2c0-.7.3-.9.9-.9h10.6zm12.8%206.5c-.3-1-.5-2.2-.6-2.8v-.5h-.2c0%201-.2%202.1-.6%203.3l-2.1%205.7h5.6l-2.1-5.7zm8%2011.9c.2.6%200%20.9-.6.9h-1.4c-1.1%200-1.5-.2-1.7-.8l-1.2-3.5h-7.5l-1.3%203.5c-.2.7-.6.8-1.7.8H115c-.6%200-.8-.3-.6-.9L121.2%203c.2-.6.5-.8%201.1-.8h1.4c.7%200%20.9.2%201.1.7l6.9%2017.7z%22%2F%3E%3C%2Fsvg%3E')
    background-size (170/10)rem (38/10)rem
$icon-logo
    image-logo()
image-logoicon()
    background-repeat no-repeat
    width (29/10)rem
    height (36/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2029.5%2036.9%22%3E%3Cstyle%3E.st0%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M14.7%2024.6l-3.6-6.2zm0%200l-3.6-6.2zm3.7%2012.3H13c-1.2%200-2.4-.6-3-1.7L0%2018.4l3.7-6.1%203.7%206.1%2011%2018.5zm11.1%200h-5.4c-1.2%200-2.4-.6-3-1.7l-4.5-7.5%203.7-6.1%209.2%2015.3zm0-36.9L18.4%2018.4l-3.7%206.1-3.7-6.1%203.7-6.1L21%201.7C21.6.6%2022.8%200%2024%200h5.5zM18.4%200l-5.5%209.2-3.7%206.1-3.7-6.1%203.7-6.1.8-1.4C10.7.6%2011.8%200%2013%200h5.4z%22%2F%3E%3C%2Fsvg%3E')
    background-size (29/10)rem (36/10)rem
$icon-logoicon
    image-logoicon()
image-mail()
    background-repeat no-repeat
    width (26/10)rem
    height (19/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2019%22%3E%3Cpath%20fill%3D%22%23010C11%22%20d%3D%22M25.9%201.8s0-.1%200%200c-.1-.1-.1-.1%200%200v-.1H2c-2%20.3-2%20.6-2%20.9v13.8C0%2017.8%201.1%2019%202.4%2019h21c1.1%200%202.1-.7%202.4-1.8v-.1c.1-.2.1-.4.1-.7V2.6c.1-.3.1-.6%200-.8zM2%201.9c.1%200%20.1%200%200%200%20.1%200%20.1%200%200%200l.1-.1h21.1l-9.6%2010.7c-.2.2-.4.3-.6.3-.2%200-.4-.1-.6-.3L2%201.9zM1.7%204l5.4%205.5L1.7%2015V4zm21.8%2013.3H2.6c-.2%200-.4-.1-.5-.2l6.2-6.4%202.9%203c.5.5%201.1.8%201.8.8s1.3-.3%201.8-.8l3-3%206.2%206.4c-.1.1-.3.2-.5.2zm.8-2.4L19%209.5%2024.3%204v10.9z%22%2F%3E%3C%2Fsvg%3E')
    background-size (26/10)rem (19/10)rem
$icon-mail
    image-mail()
image-meta()
    background-repeat no-repeat
    width (60/10)rem
    height (22/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2022%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M48.7%208l1.5%204.7h-2.9L48.7%208zM59%202.2v17.6c0%20.7-.5%201.2-1.2%201.2H2.2c-.6%200-1.2-.5-1.2-1.2V2.2C1%201.5%201.6%201%202.2%201h55.6c.6%200%201.2.5%201.2%201.2zm-39.2%202h-4.3l-3%208.8-3-8.8H5.1v13.5h3.3v-7.3l-.3-2.3%203.3%209.6h2.2l3.3-9.6-.3%202.4v7.3h3.3V4.2zm11.3%200h-9.4v13.5h9.4v-2.5H25V12h5.2V9.6H25V6.8h6.1V4.2zm8.5%202.6h4.1V4.2H32.4v2.5h4v11h3.3V6.8zm15.7%2011l-5-13.5h-3.1l-5%2013.5h3.5l.8-2.5H51l.8%202.5h3.5zm1.3-12.4c0-.7-.6-1.3-1.3-1.3-.7%200-1.3.6-1.3%201.3%200%20.7.6%201.3%201.3%201.3.7%200%201.3-.6%201.3-1.3z%22%2F%3E%3C%2Fsvg%3E')
    background-size (60/10)rem (22/10)rem
$icon-meta
    image-meta()
image-modal-close()
    background-repeat no-repeat
    width (26/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cg%20stroke%3D%22%238EA240%22%20stroke-miterlimit%3D%2210%22%3E%3Ccircle%20fill%3D%22%23FFF%22%20cx%3D%2213%22%20cy%3D%2213%22%20r%3D%2212%22%2F%3E%3Cpath%20d%3D%22M16.6%2016.6L13%2013l3.6-3.6M13%2013L9.4%209.4m0%207.2L13%2013%22%20fill%3D%22none%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (26/10)rem (26/10)rem
$icon-modal-close
    image-modal-close()
image-mode()
    background-repeat no-repeat
    width (24/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2026%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%231188ED%22%20d%3D%22M11.9%205.5c.4%200%20.8.3.8.8v5.8l.3.3h4.5c.4%200%20.8.3.8.8%200%20.4-.3.8-.8.8H13c-.2.3-.6.5-1%20.5-.7%200-1.3-.6-1.3-1.3%200-.4.2-.7.5-1V6.4c0-.6.3-.9.7-.9zm11%2012.3c-1.2%202.9-3.5%205.1-6.5%206.3-2.9%201.2-6.1%201.1-9-.1-.8-.4-1.6-.8-2.3-1.3-1.8-1.3-3.1-3.1-4-5.1-1.2-2.9-1.1-6.1.1-9%201.2-2.9%203.5-5.1%206.5-6.3%202.9-1.2%206.1-1.1%209%20.1l.6-1.1c.2-.3.4-.3.6.1L19%204.5c0%20.2-.2.5-.6.5l-3.2.5c-.4.1-.5-.2-.3-.5l.7-1c-2.4-1-4.9-.9-7.3%200-2.4%201-4.4%202.9-5.4%205.3s-1.1%205.1-.1%207.6c.7%201.7%201.8%203.2%203.3%204.3.6.4%201.3.8%202%201.1%202.4%201%205.1%201.1%207.6.1s4.4-2.9%205.4-5.3%201.1-5%20.2-7.4c-.2-.5.1-1%20.6-1.2.5-.2%201%20.1%201.2.6%201%202.8%201%205.9-.2%208.7z%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (26/10)rem
$icon-mode
    image-mode()
image-more()
    background-repeat no-repeat
    width (40/10)rem
    height (40/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%238F8780%22%20stroke-miterlimit%3D%2210%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2219.2%22%2F%3E%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M25.7%2017.2L20%2022.8l-5.7-5.6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (40/10)rem (40/10)rem
$icon-more
    image-more()
image-next()
    background-repeat no-repeat
    width (24/10)rem
    height (16/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2016%22%3E%3Cpath%20fill%3D%22%23999%22%20d%3D%22M15.6%200l-1.5%201.5%205.4%205.4H.5V9h19l-5.4%205.4%201.5%201.5%207.9-8L15.6%200z%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (16/10)rem
$icon-next
    image-next()
image-ok()
    background-repeat no-repeat
    width (45/10)rem
    height (45/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2045%2045%22%3E%3Cg%20fill%3D%22%23F2ECE8%22%3E%3Cpath%20d%3D%22M28.6%2023.3c-.4.1-.7.3-1%20.5-2.9%202-6.9%201.9-9.9-.1-.1-.1-.3-.2-.4-.3-.8-.4-1.6-.2-2.1.5-.5.8-.5%201.5.2%202.2.2.2.4.3.6.5%201.6%201.2%203.4%201.7%205.4%201.9-.1.2-.2.3-.3.4l-4.5%204.5c-.3.3-.5.7-.6%201.1%200%20.7.4%201.3%201%201.6.6.3%201.2.2%201.8-.3l3.5-3.5c.3-.3.4-.4.8%200%201.1%201.2%202.3%202.3%203.4%203.4.3.3.6.5%201.1.5.7%200%201.4-.4%201.7-1%20.3-.6.2-1.2-.3-1.8l-4.5-4.5-.4-.4c1.1-.1%202.2-.3%203.3-.7%201.1-.4%202.1-1%202.9-1.9.5-.5.5-1.2.1-1.9-.5-.7-1.1-.9-1.8-.7z%22%2F%3E%3Cpath%20d%3D%22M22.7%2023.3c3.7%200%206.6-2.9%206.7-6.5%200-3.7-2.9-6.7-6.6-6.7-3.7%200-6.6%202.9-6.6%206.6-.1%203.6%202.9%206.6%206.5%206.6zm.1-9.9c1.8%200%203.2%201.4%203.2%203.2%200%201.8-1.4%203.2-3.2%203.2-1.8%200-3.2-1.4-3.3-3.2%200-1.7%201.4-3.2%203.3-3.2z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (45/10)rem (45/10)rem
$icon-ok
    image-ok()
image-ontop()
    background-repeat no-repeat
    width (60/10)rem
    height (60/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M22%2026.4l1.5%201.5%205.4-5.4v19H31v-19l5.4%205.4%201.5-1.5-8-7.9-7.9%207.9z%22%2F%3E%3C%2Fsvg%3E')
    background-size (60/10)rem (60/10)rem
$icon-ontop
    image-ontop()
image-page-next()
    background-repeat no-repeat
    width (16/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2026%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22none%22%20stroke%3D%22%23646462%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1.3.5l13%2012.5-13%2012.5%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (26/10)rem
$icon-page-next
    image-page-next()
image-page-prev()
    background-repeat no-repeat
    width (16/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2026%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22none%22%20stroke%3D%22%23646462%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M14.3%2025.5L1.3%2013%2014.3.5%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (26/10)rem
$icon-page-prev
    image-page-prev()
image-paginator-arrow()
    background-repeat no-repeat
    width (84/10)rem
    height (44/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2084%2044%22%3E%3Cpath%20d%3D%22M24.3%2042l-20-20%2020-20m-21%2020h80%22%20fill%3D%22none%22%20stroke%3D%22%23333%22%20stroke-width%3D%225%22%20stroke-miterlimit%3D%2210%22%2F%3E%3C%2Fsvg%3E')
    background-size (84/10)rem (44/10)rem
$icon-paginator-arrow
    image-paginator-arrow()
image-paginator()
    background-repeat no-repeat
    width (42/10)rem
    height (48/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2042%2048%22%3E%3Cpath%20d%3D%22M22%2036V7h-2v29c-8.2.3-15.4%204.3-20%2010.2L2.4%2048c4.2-5.5%2011-9.1%2018.7-9.1%207.6%200%2014.2%203.5%2018.5%208.8l2.4-1.8c-4.6-5.8-11.8-9.6-20-9.9zM17%205c0-2.6%201.7-3.3%202.5-2h2.2c-.5-2.1-1.9-3-3.3-3C16.7%200%2015%201.5%2015%205v6h2V5z%22%2F%3E%3C%2Fsvg%3E')
    background-size (42/10)rem (48/10)rem
$icon-paginator
    image-paginator()
image-paginator2()
    background-repeat no-repeat
    width (42/10)rem
    height (48/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2042%2048%22%3E%3Cpath%20d%3D%22M22%2036V7h-2v29c-8.2.3-15.4%204.3-20%2010.2L2.4%2048c4.2-5.5%2011-9.1%2018.7-9.1%207.6%200%2014.2%203.5%2018.5%208.8l2.4-1.8c-4.6-5.8-11.8-9.6-20-9.9zM17%205c0-2.6%201.7-3.3%202.5-2h2.2c-.5-2.1-1.9-3-3.3-3C16.7%200%2015%201.5%2015%205v6h2V5z%22%20fill%3D%22%23C6C6C6%22%2F%3E%3C%2Fsvg%3E')
    background-size (42/10)rem (48/10)rem
$icon-paginator2
    image-paginator2()
image-param-1()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%237272A9%22%20stroke-width%3D%22.9%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%3E%3Cpath%20d%3D%22M8.9%204.7l-.6-1.6C7.1%203.5%206%204.2%205%205l1.1%201.3M12%204.1V2.4c-1.3%200-2.5.2-3.7.7%22%2F%3E%3Cpath%20d%3D%22M6.1%206.3L5%205c-1%20.8-1.8%201.8-2.4%202.9l1.5.9M21%2011.7l1.7-.3c-.2-1.3-.7-2.5-1.3-3.5l-1.5.9%22%2F%3E%3Cpath%20d%3D%22M4.1%208.7l-1.5-.8c-.6%201-1%202.2-1.3%203.5l1.7.3m14.9-5.4L19%205c-1-.8-2.1-1.4-3.3-1.9l-.6%201.6M21%2014.9l1.7.3c.1-.6.2-1.2.2-1.9%200-.6-.1-1.3-.2-1.9l-1.7.3m-1.1-3l1.5-.9c-.7-1-1.5-2-2.4-2.8%22%2F%3E%3Cpath%20d%3D%22M15.1%204.7l.6-1.6c-1.2-.4-2.4-.7-3.7-.7v1.7m7%2017.5c1-.8%201.8-1.8%202.4-2.9l-1.5-.9m0%200l1.5.9c.6-1.1%201.1-2.3%201.3-3.5l-1.7-.3M3%2011.7l-1.7-.3c-.1.6-.2%201.2-.2%201.9%200%20.6.1%201.3.2%201.9l1.7-.3m0%200l-1.7.3c.2%201.3.7%202.5%201.3%203.5l1.5-.9%22%2F%3E%3Cpath%20d%3D%22M4.1%2017.8l-1.5.9c.6%201.1%201.5%202.1%202.4%202.9m7-8.3zm0%200zm0%200zm0%200zm4.6-5.5l-3.2%203.8%22%2F%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2213.3%22%20r%3D%222.3%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-param-1
    image-param-1()
image-param-2()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%237272A9%22%20stroke-width%3D%22.9%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M21.373%209.45h-13v-5.3h13zm0%2010.556h-13v-5.3h13z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%237272A9%22%20stroke-width%3D%22.9%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M14.854%2014.714h-13v-5.3h13z%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-param-2
    image-param-2()
image-param-3()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%237272A9%22%20stroke-width%3D%22.9%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%3E%3Cpath%20d%3D%22M18.7%2013.7c0-5-6.8-10.4-6.8-10.4S5%208.7%205%2013.7v.4c0%20.6.1%201.1.2%201.6.7%203%203.4%205.2%206.6%205.2%203.2%200%205.9-2.2%206.6-5.2.1-.5.2-1%20.2-1.6v-.2s.1-.1.1-.2z%22%2F%3E%3Cpath%20d%3D%22M13.4%2018c-.5.3-1.1.4-1.7.4-1.8%200-3.3-1.2-3.8-2.8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-param-3
    image-param-3()
image-param-4()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%237272A9%22%20stroke-width%3D%22.9%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M14.1%202v7.7h6.3L10%2022.3v-7.8H3.7z%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-param-4
    image-param-4()
image-param-5()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M10.1%2013.9c0-.1%200-.1%200%200-1.7-1.7-5.2-2-5.2-2s.3%203.4%202%205.1H7v.1c1.7%201.7%205.1%202%205.1%202s-.3-3.4-2-5.1c.2%200%20.1-.1%200-.1.1%200%20.1%200%200%200%20.1%200%20.1%200%200%200zm7.5%203.1c1.7-1.7%202-5.2%202-5.2s-3.4.3-5.1%202v.1h-.1c-1.7%201.7-2%205.1-2%205.1s3.4-.3%205.1-2c0%20.1%200%20.1.1%200-.1.1%200%20.1%200%200zm-2.4-8.5c.1%200%20.1%200%200%200%200-2.8-3-5.9-3-5.9s-3%203.1-3%205.8v.2c0%202.8%203%205.8%203%205.8s3-3.1%203-5.8v-.1c0%20.1.1.1%200%200%20.1%200%200%200%200%200zm-2.9%2013.1v-7%22%20fill%3D%22none%22%20stroke%3D%22%237272A9%22%20stroke-width%3D%22.9%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-param-5
    image-param-5()
image-password()
    background-repeat no-repeat
    width (50/10)rem
    height (50/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2050%2050%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M13.6%2017h22.7v16H13.6z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M35.2%2025s-4.6%207-10.2%207-10.2-7-10.2-7%204.6-7%2010.2-7%2010.2%207%2010.2%207z%22%2F%3E%3Ccircle%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20cx%3D%2225%22%20cy%3D%2225%22%20r%3D%223%22%2F%3E%3C%2Fsvg%3E')
    background-size (50/10)rem (50/10)rem
$icon-password
    image-password()
image-phone()
    background-repeat no-repeat
    width (14/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%2024%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%231188ED%22%20d%3D%22M12%200H2C.9%200%200%20.9%200%202v20c0%201.1.9%202%202%202h10c1.1%200%202-.9%202-2V2c0-1.1-.9-2-2-2zm0%2021c0%20.6-.4%201-1%201H3c-.6%200-1-.4-1-1v-3h10v3zm0-4H2V3c0-.6.4-1%201-1h8c.6%200%201%20.4%201%201v14zm-5%204c.6%200%201-.4%201-1s-.4-1-1-1-1%20.4-1%201%20.5%201%201%201z%22%2F%3E%3C%2Fsvg%3E')
    background-size (14/10)rem (24/10)rem
$icon-phone
    image-phone()
image-pin()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%200C5.4%200%200%205.4%200%2012s5.4%2012%2012%2012%2012-5.4%2012-12S18.6%200%2012%200zM6.2%2017.7L9%2013.1c.2.3.5.6.8.9.3.3.6.6.9.8l-4.5%202.9zm11.3-7.5c-.3.3-.8.3-1.4.1l-1.5%201.5c.8%201.2.9%202.5.4%203.1-.2.2-.6.4-1%20.4-.7%200-1.7-.4-2.6-1.1h-.1l-.2-.2s-.1%200-.1-.1l-.2-.2-.1-.1-.2-.2-.3-.3-.2-.2-.1-.1c-.1-.1-.1-.2-.2-.2-1-1.4-1.4-2.9-.7-3.6.2-.2.6-.4%201-.4.6%200%201.3.2%202.1.7l1.5-1.5c-.2-.6-.2-1.1.1-1.4.6-.6%201.9-.2%202.9.9%201.1%201.1%201.5%202.4.9%202.9z%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-pin
    image-pin()
image-plus()
    background-repeat no-repeat
    width (20/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M20%2011h-9v9H9v-9H0V9h9V0h2v9h9v2z%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (20/10)rem
$icon-plus
    image-plus()
image-productyear()
    background-repeat no-repeat
    width (80/10)rem
    height (98/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2080%2098%22%3E%3Cpath%20fill%3D%22%23C82228%22%20d%3D%22M79.9%2092.9c0%202.8-2.3%205.1-5%205.1H5.1c-2.8%200-5-2.3-5-5.1V5.1C.1%202.3%202.4%200%205.1%200h69.8c2.8%200%205%202.3%205%205.1v87.8z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M61.6%2024.8C59%2019.3%2054.4%2015%2048.8%2012.6c-5.8-2.4-12.2-2.6-18.2-.4-5.9%202.2-10.8%206.4-13.7%2012-2.8%205.4-3.5%2011.6-2%2017.5l-4.2%201.5.3.7%2054.5-19.8-.3-.7-3.6%201.4zm-43.9-.2c2.8-5.4%207.5-9.6%2013.2-11.7%205.7-2.1%2012-1.9%2017.6.4%205.5%202.3%209.8%206.4%2012.4%2011.7L15.7%2041.5c-1.4-5.7-.7-11.6%202-16.9zm-3.47%2029.494l54.685-19.916.274.75-54.686%2019.917z%22%2F%3E%3Cg%20fill%3D%22%23FFF%22%3E%3Cpath%20d%3D%22M3.7%2075.5h1.4l.5%202%20.5-2h1.4v3.3h-.9v-2.5L6%2078.8h-.8l-.6-2.5v2.5h-.9v-3.3zm4.4%200h2.8v.7H9.2v.5h1.6v.7H9.2v.7H11v.8H8.1v-3.4zm8.1%203.3H15l-.4-.8c-.1-.2-.2-.3-.2-.4-.1-.1-.1-.1-.2-.1v1.3h-1v-1.3c-.1%200-.2%200-.2.1-.1.1-.1.2-.2.4l-.4.9h-1.2l.5-.9c.1-.3.2-.4.4-.6.1-.1.2-.2.4-.2-.1%200-.2-.1-.3-.2-.1-.1-.1-.2-.2-.3-.1-.1-.1-.3-.2-.3-.1-.1-.2-.1-.4-.1h-.1v-.7c.4%200%20.7%200%20.8.1.2%200%20.3.1.4.2.1.1.2.2.2.4.1.3.2.4.2.5%200%20.1.1.1.2.1v-1.3h1v1.3c.1%200%20.2%200%20.2-.1s.1-.2.2-.5l.2-.4c.1-.1.2-.2.4-.2s.5-.1.8-.1v.7h.1c-.2%200-.3%200-.4.1-.1.1-.2.2-.2.3-.1.1-.1.3-.2.3-.1.1-.1.1-.3.2.1%200%20.3.1.4.3.1.1.2.3.4.6l.5.7zm3.8.7h-.8v-.7h-2.1v.7h-.8V78h.3c.2-.5.3-1.1.3-1.8v-.7h2.8v2.6h.3v1.4zm-1.3-1.4v-1.7h-.8c0%20.5-.1%201-.2%201.7h1zm1.4-2.6h1.1l.5%201.4.5-1.4h1l-1.1%202.6c-.1.2-.2.4-.2.5l-.3.3c-.1.1-.3.1-.5.1-.1%200-.3%200-.6-.1v-.7h.4c.2%200%20.4-.1.4-.3l-1.2-2.4zm3.5%200h1v1.2h1.1v-1.2h1v3.3h-1v-1.3h-1.1v1.3h-1v-3.3zm5.9%202.8h-1.2l-.2.5H27l1.3-3.3h1.1l1.3%203.3h-1.1l-.1-.5zm-.2-.7l-.4-1.2-.4%201.2h.8zm1.8-2.1h1.7c.4%200%20.7.1.8.3.2.2.3.4.3.8%200%20.3-.1.6-.3.8-.2.2-.5.3-.9.3h-.6v1.2h-1v-3.4zm1%201.4h.3c.2%200%20.3%200%20.4-.1.1-.1.1-.2.1-.3%200-.1%200-.2-.1-.3-.1-.1-.2-.1-.4-.1h-.3v.8zm2.2.3c0-.5.2-1%20.5-1.3.3-.3.7-.5%201.3-.5.6%200%201%20.1%201.3.4.3.3.4.7.4%201.3%200%20.4-.1.7-.2%201-.1.2-.3.4-.6.6-.2.1-.6.2-.9.2-.4%200-.7-.1-.9-.2-.2-.1-.4-.3-.6-.6-.2-.2-.3-.6-.3-.9zm1%200c0%20.3.1.6.2.7.1.1.3.2.5.2s.4-.1.5-.2c.1-.1.2-.4.2-.8%200-.3-.1-.5-.2-.7-.1-.1-.3-.2-.5-.2s-.4.1-.5.2c-.1.2-.2.4-.2.8zm6.5%202.3H41v-.7h-2.1v.7H38V78h.3c.2-.5.3-1.1.3-1.8v-.7h2.8v2.6h.4v1.4zm-1.4-1.4v-1.7h-.8c0%20.5-.1%201-.2%201.7h1zm1.8-2.6h1v1.2h1.1v-1.2h1v3.3h-1v-1.3h-1.1v1.3h-1v-3.3zm5.9%202.8H47l-.2.5h-1.1l1.3-3.3h1.1l1.3%203.3h-1.1l-.2-.5zm-.2-.7l-.4-1.2-.4%201.2h.8z%22%2F%3E%3Cpath%20d%3D%22M51.6%2078.8v-1.4h-.1c-.1%200-.2%200-.3.1-.1%200-.1.1-.2.3l-.6%201h-1.2l.5-1s.1-.1.1-.2l.2-.2c.1%200%20.1-.1.3-.1-.2%200-.3-.1-.4-.1l-.3-.3c-.1-.1-.1-.3-.1-.5s.1-.4.2-.5c.1-.1.2-.2.4-.3.2-.1.4-.1.7-.1h1.7v3.3h-.9zm0-2.6h-.5c-.2%200-.3%200-.4.1-.1.1-.1.1-.1.2s0%20.1.1.2c0%20.1.1.1.2.1h.7v-.6zm6.5%202.6h-1v-2.5H56v2.5h-1v-3.3h3.2v3.3zm.7-3.3h1.7c.4%200%20.7.1.8.3.2.2.3.4.3.8%200%20.3-.1.6-.3.8-.2.2-.5.3-.9.3h-.6v1.2h-1v-3.4zm1%201.4h.2c.2%200%20.3%200%20.4-.1.1-.1.1-.2.1-.3%200-.1%200-.2-.1-.3-.1-.1-.2-.1-.4-.1h-.3v.8zm2.3-1.4h2.8v.7h-1.7v.5h1.6v.7h-1.6v.7H65v.8h-2.8v-3.4zm3.4%200h1.4l.5%202%20.5-2h1.4v3.3h-.8v-2.5l-.6%202.5H67l-.6-2.5v2.5h-.8v-3.3zm7.6%200v3.3h-1V77l-1.2%201.8h-1v-3.3h1v1.8l1.3-1.8h.9zm2.6%203.3v-1.4h-.1c-.1%200-.2%200-.3.1-.1%200-.1.1-.2.3l-.5%201h-1.2l.5-1s.1-.1.1-.2l.2-.2c.1%200%20.1-.1.3-.1-.2%200-.3-.1-.4-.1l-.3-.3c-.1-.1-.1-.3-.1-.5s.1-.4.2-.5c.1-.1.2-.2.4-.3.2-.1.4-.1.7-.1h1.7v3.3h-1zm0-2.6h-.5c-.2%200-.3%200-.4.1-.1.1-.1.1-.1.2s0%20.1.1.2c0%20.1.1.1.2.1h.7v-.6zm-62.4%205.9h.7l-.6%201%20.6%201.1h-.7l-.7-1.1.7-1zm1.1%200h.7l-.6%201.1.6%201.1h-.7l-.7-1.1.7-1.1zm4.5-1v3.3h-1v-1.8l-1.2%201.8h-1v-3.3h1v1.8l1.3-1.8h.9zm.7%200h1v1.2h1.1v-1.2h1v3.3h-1v-1.3h-1.1v1.3h-1v-3.3zm3.9%200h1v1.2h1.1v-1.2h1v3.3h-1v-1.3h-1.1v1.3h-1v-3.3zm3.8%201.6c0-.5.2-1%20.5-1.3.2-.2.6-.4%201.2-.4s1%20.1%201.3.4c.3.3.4.7.4%201.3%200%20.4-.1.7-.2%201-.1.2-.3.4-.6.6-.2.1-.6.2-.9.2-.4%200-.7-.1-.9-.2-.2-.1-.4-.3-.6-.6-.2-.2-.2-.6-.2-1zm1%200c0%20.3.1.6.2.7.1.1.3.2.5.2s.4-.1.5-.2c.1-.1.2-.4.2-.8%200-.3-.1-.5-.2-.7-.1-.1-.3-.2-.5-.2s-.4.1-.5.2c-.2.3-.2.5-.2.8zm3-1.6h1.9c.3%200%20.6.1.7.2.2.2.3.4.3.6%200%20.2-.1.4-.2.5-.1.1-.2.2-.4.2.2.1.4.2.5.3.1.1.2.3.2.5s0%20.3-.1.5l-.3.3c-.1.1-.2.1-.4.1h-2.3v-3.2zm1%201.3h.4c.2%200%20.3%200%20.3-.1.1-.1.1-.1.1-.2s0-.2-.1-.2c-.1-.1-.2-.1-.3-.1h-.5v.6zm0%201.3h.5c.2%200%20.3%200%20.4-.1.1-.1.1-.1.1-.3%200-.1%200-.2-.1-.2-.1-.1-.2-.1-.4-.1h-.5v.7zm4.6.2h-1.2l-.2.5h-1.1l1.3-3.3h1.1l1.3%203.3H37l-.1-.5zm-.2-.8l-.4-1.2-.3%201.2h.7zm5.3%202h-.8v-.7h-2.7v-3.3h1v2.5h1.1v-2.5h1v2.6h.4v1.4zm3.7-4v3.3h-1v-1.8l-1.2%201.8h-1v-3.3h1v1.8l1.3-1.8h.9zm.5%201.6c0-.5.2-1%20.5-1.3.3-.2.7-.4%201.3-.4.6%200%201%20.1%201.3.4.3.3.4.7.4%201.3%200%20.4-.1.7-.2%201-.1.2-.3.4-.6.6-.2.1-.6.2-.9.2-.4%200-.7-.1-.9-.2-.2-.1-.4-.3-.6-.6-.2-.2-.3-.6-.3-1zm1.1%200c0%20.3.1.6.2.7.1.1.3.2.5.2s.4-.1.5-.2c.1-.1.2-.4.2-.8%200-.3-.1-.5-.2-.7-.1-.1-.3-.2-.5-.2s-.4.1-.5.2c-.2.3-.2.5-.2.8zm3-1.6h1v1.2h1.1v-1.2h1v3.3h-1v-1.3h-1.1v1.3h-1v-3.3zm3.8%200h1v1.2h1.1v-1.2h1v3.3h-1v-1.3h-1.1v1.3h-1v-3.3zm4.9%201.3h.5c.5%200%20.9.1%201.1.3.2.2.4.5.4.8%200%20.3-.1.5-.3.7s-.5.2-1%20.2H58v-3.3h1v1.3zm0%201.3h.5c.3%200%20.5-.1.5-.3%200-.2-.2-.3-.5-.3H59v.6zm2.3-2.6h1v3.3h-1v-3.3zm4.9%200v3.3h-1v-1.8L64%2084.4h-1v-3.3h1v1.8l1.3-1.8h.9zm-.7-.8c0%20.2-.1.3-.3.5-.2.1-.3.2-.5.2s-.4-.1-.5-.2c-.2-.1-.2-.3-.3-.5h.4c.1.2.2.3.4.3s.4-.1.4-.3h.4zM21.7%2090h-1v-2.5h-1.1V90h-1v-3.3h3.2V90zm.7-3.3h1.7c.4%200%20.7.1.8.3.2.2.3.4.3.8%200%20.3-.1.6-.3.8-.2.2-.5.3-.9.3h-.6V90h-1v-3.3zm1%201.4h.3c.2%200%20.3%200%20.4-.1.1-.1.1-.2.1-.3%200-.1%200-.2-.1-.3-.1-.1-.2-.1-.4-.1h-.3v.8zm2.2.2c0-.5.2-1%20.5-1.3.3-.3.7-.5%201.3-.5.6%200%201%20.1%201.3.4.3.3.4.7.4%201.3%200%20.4-.1.7-.2%201-.1.2-.3.4-.6.6-.2.2-.5.2-.9.2s-.7-.1-.9-.2c-.2-.1-.4-.3-.6-.6-.2-.2-.3-.5-.3-.9zm1.1%200c0%20.3.1.6.2.7.1.1.3.2.5.2s.4-.1.5-.2c.1-.1.2-.4.2-.8%200-.3-.1-.5-.2-.7-.1-.1-.3-.2-.5-.2s-.4.1-.5.2c-.2.2-.2.5-.2.8zm6.4%202.4h-.8V90h-2.1v.7h-.8v-1.5h.3c.2-.5.3-1.1.3-1.8v-.7h2.8v2.6h.4v1.4zm-1.3-1.5v-1.7H31c0%20.5-.1%201-.2%201.7h1zm1.4-2.5h1.1l.5%201.4.5-1.4h1l-1.1%202.6c-.1.2-.2.4-.2.5l-.3.3c-.1.1-.3-.1-.5-.1-.1%200-.3%200-.6-.1v-.7h.4c.2%200%20.4-.1.4-.3l-1.2-2.2zm6.5%203.3h-1.2l-.4-.9c-.1-.2-.2-.3-.2-.4-.1-.1-.1-.1-.2-.1V90h-1v-3.3h1V88c.1%200%20.2%200%20.2-.1.1-.1.1-.2.2-.5l.2-.4c.1-.1.2-.2.4-.2s.5-.1.8-.1v.7h-.1c-.2%200-.3%200-.4.1-.1.1-.2.2-.2.3-.1.1-.1.3-.2.3-.1.1-.1.1-.3.2.1%200%20.3.1.4.3.1.1.2.3.4.6l.6.8zm.1-3.3H43v.8h-1V90h-1v-2.5h-1v-.8zm7.8.8H46V90h-1v-3.3h2.6v.8zm.4.8c0-.5.2-1%20.5-1.3.3-.3.7-.5%201.3-.5.6%200%201%20.1%201.3.4.3.3.4.7.4%201.3%200%20.4-.1.7-.2%201-.1.2-.3.4-.6.6-.3.2-.6.2-1%20.2s-.7-.1-.9-.2c-.2-.1-.4-.3-.6-.6-.2-.2-.2-.5-.2-.9zm1%200c0%20.3.1.6.2.7.1.1.3.2.5.2s.4-.1.5-.2c.1-.1.2-.4.2-.8%200-.3-.1-.5-.2-.7-.1-.1-.3-.2-.5-.2s-.4.1-.5.2c-.2.2-.2.5-.2.8zm6.5%202.4h-.8V90h-2.1v.7h-.8v-1.5h.2c.2-.5.3-1.1.3-1.8v-.7h2.8v2.6h.4v1.4zm-1.4-1.5v-1.7h-.8c0%20.5-.1%201-.2%201.7h1z%22%2F%3E%3Cpath%20d%3D%22M57.9%2089.4h-1.2l-.1.6h-1.1l1.3-3.3h1.1l1.3%203.3h-1.1l-.2-.6zm-.2-.7l-.4-1.2-.3%201.2h.7zm3.1.1l-.7%201.1h-.7l.6-1.1-.6-1.1h.7l.7%201.1zm1.2%200l-.7%201.1h-.7l.6-1.1-.6-1h.7l.7%201z%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M19.7%2050.5l-2.5.9c-.3.1-.5.1-.6-.2-.1-.2.1-.3.2-.5.2-.2.2-.3.1-.6L15%2044.8c-.1-.3-.1-.3-.5-.4-.2%200-.3%200-.4-.2-.1-.2%200-.4.2-.4l2.8-1%202.4%206.6c.2.4.5.2.6.6.1.1%200%20.3-.4.5zm4-1.5l-2.6.9c-.3.1-.5%200-.6-.2-.1-.2%200-.3.1-.4.1-.1.1-.2%200-.4l-2-5.9-.8.3-.2-.7%203.3-1.2c.5-.2.6-.2.7.2.1.2%200%20.3-.1.4-.2.2-.2.3-.1.5l1.9%205.4c.1.2.2.3.4.3s.4.1.4.3c.1.2%200%20.4-.4.5zm4.3-2.7c.1.2.2.3.4.3s.4%200%20.5.2c.1.3-.2.4-.4.5l-2.8%201c-.2.1-.5.1-.6-.2v-.3c.1-.3.5-.2.3-.7l-1.9-5.4c-.1-.3-.1-.3-.4-.3-.2%200-.3%200-.4-.3-.1-.2%200-.4.2-.5l2.8-1%202.3%206.7zm-.5-2.7c.5-.3.4-.5.3-1l-.7-1.9c-.1-.4-.3-.7-.8-.6l-.3-.6.4-.1c1.7-.6%203.1-.1%203.6%201.3.7%201.9-.6%202.9-2.2%203.5h-.1l-.2-.6zm5.5-6c-.5.4-.3.8-.1%201.3l1.6%204.5c.2.5.3.8.8.7l.3.7c-1.9.6-3.9-.6-4.7-2.8-.8-2.2-.2-4.3%201.9-5.1l.2.7zm.2-.8c2.1-.7%203.9.5%204.7%202.8.8%202.2%200%204.3-1.8%205.2l-.3-.8c.4-.3.4-.5.2-1l-1.7-4.7c-.2-.5-.3-1-.9-.9l-.2-.6zm8.4%205.8c-1%20.3-1.4%201.3-1.3%202.2%200%20.2-.1.3-.3.4-.2.1-.3-.1-.4-.3l-.7-2c1.4-1%201.1-3%20.5-4.7l-.7-1.9c-.1-.3-.1-.3-.5-.4-.2%200-.3%200-.4-.2-.1-.2%200-.4.2-.4l1.7-.6.2.7-.3.1c-.3.1-.3.3-.2.5l.7%201.8c.7%202%20.7%203.7.2%204.5l1.9-.7.3.7-.9.3zm5.4.1c-.2.1-.4.1-.5-.1-.5-.8-1.4-1.3-2.5-.9l-1%20.4-2.7-7.7%202.5-.9c.5-.2.6-.2.7.2.1.2%200%20.3-.1.4-.2.2-.2.3-.1.5l1.9%205.2c.1.2.4.5.8.4l.5-.2.8%202.1c-.1.3-.1.6-.3.6zm3.1-4.6c0%20.2%200%20.5-.1.7l-4.9-4.9c-.2-.2-.4-.3-.5-.3-.1%200-.3-.1-.3-.2-.1-.3.3-.5.5-.6l2.4-.9c.4-.1.7-.3.8%200%20.1.4-.4.5-.3.8%200%20.1.1.2.2.3l2.3%202.2-.1%202.9zm-1.2%202c-1.1.4-2.1%200-2.4-1-.2-.6.1-1.2.7-1.5.5-.2%201%200%201.3.6.2.6-.3.8-.2%201%20.1.2.3.1.5.1.2-.1.4-.4.6-.8l.5.6c-.2.4-.5.8-1%201zm1.8-8.7c-.2.2-.3.3-.4.6-.1.3-.1.5-.1.8l-.1%201.9-.7-.6.1-1.1c0-.2%200-.4-.1-.6-.1-.3-.3-.4-.6-.4-.2%200-.4%200-.4-.2-.1-.3.3-.4.5-.5l1.3-.4c.2-.1.6-.3.7.1.1.1%200%20.2-.2.4zm.8-.6c-.1-.2%200-.4.3-.5l2.7-1c.5-.2.7-.2.8.2.2.5-.5.3-.3.9l1.9%205.3c.3.7.6.4.7.7.1.3%200%20.4-.3.5l-2.6.9c-.4.2-.6.2-.7%200-.2-.6.6-.3.2-1.2l-1.9-5.2c-.2-.7-.6-.1-.8-.6zm9.2%203.5c.2.3.3.5.7.5.2%200%20.4%200%20.4.3.1.2%200%20.3-.2.4l-3.1%201.1c-.3.1-.4.1-.5-.2-.1-.4.3-.3.2-.7-.1-.2-.2-.4-.3-.5l-1.2-1.6c-.1-.2-.2-.3-.2-.4-.1-.2-.1-.5%200-.8l.6-2.1c.1-.2%200-.4%200-.5-.1-.3-.2-.3-.6-.3-.2%200-.3%200-.4-.2-.1-.3%200-.4.3-.5l1.9-.7c.3-.1.5-.1.6.2.1.3%200%20.4-.3.6-.5.5-.6%201.1-.9%201.8l-.1.2%203.1%203.4zm.4-4.8c0%20.3%200%20.4-.2.5-.3.1-.4%200-.6-.4l-.8-2.2L61%2027l.3.7c-.4.5-.2%201.3-.2%201.8zm5.8%204l-3%201.1c-.3.1-.5%200-.6-.2-.1-.2%200-.3.1-.4.3-.3.3-.4.2-.8l-2.3-6.4%202.6-.9%202.3%206.5c.1.3.2.3.5.3.2%200%20.3%200%20.4.2.3.4.1.5-.2.6zm-.4-5.4c-.2.1-.4%200-.5-.2-.3-.5-.6-1.2-1.3-1.3l-.3-.7%201.5-.5.8%202.2c.2.2.1.3-.2.5zM22.4%2059.2c.2-.3.6-.6%201.1-.7.5-.1.9.1%201.3.4.3.2.4.3.7.6.2.2.5.4.7.6.3.2.4.2.6%200%20.2-.2.2-.2.4-.1.1.1.2.2.1.4-.5.9-1.7%201.4-2.6.8-.3-.2-.5-.3-.8-.7-.2-.3-.4-.5-.8-.7-.2-.1-.3-.1-.5-.1h-.3c0-.2%200-.4.1-.5zm5.2-4.5c1%20.6%201.9%201.7%201.2%202.9-.5.8-1.3%201.1-2.4.9l-.6-.1c-.4-.1-.7-.1-1-.1-.4-.2-.6-.3-1-.3.2-.2.7-.3%201-.3l.6-.1c.6-.1%201-.3%201.3-.8l.7-1.2c.2-.3.2-.5%200-.6l.2-.3zm-.6.3c-.2-.1-.3-.1-.3%200v.1c.2.3.2.6%200%20.9-.3.5-.8.6-1.3.4-.5-.3-.7-.9-.4-1.4.4-.7%201.4-.9%202.2-.4l-.2.4zm5%202.4c-.2%200-.4.1-.5.4l-1.4%204.6c-.1.2%200%20.4.2.5l-.2.6c-1.5-.5-1.8-2.3-1.3-4.1.5-1.7%201.7-2.9%203.4-2.6l-.2.6zm.6-.5c1.4.6%201.9%202.1%201.3%204-.6%201.9-1.9%202.9-3.4%202.6l.2-.6c.2%200%20.4-.1.4-.3l1.4-4.6c.1-.3%200-.5-.2-.6l.3-.5zm4.7%206.8c0%20.3%200%20.3.2.4.3.1.3.2.3.4s-.1.3-.3.2l-2.6-.3c-.3%200-.4-.1-.3-.3%200-.2.1-.2.2-.3.4-.1.4-.1.5-.5l.5-4.6c.1-.6-.6-.1-.5-.6%200-.3.1-.3.4-.3%200%200%201.3%200%202%20.1h.3l-.7%205.8zm2.1-5.7h.4v.5c.4-.5.8-.7%201.3-.7.3%200%20.7%200%201%20.1.2.1.6.2.8.1.2%200%20.3-.3.5-.3.1%200%20.3.1.3.2%200%20.2-.1.5-.2.8-.2.5-.6.8-1.2.9-.3%200-.8%200-1.2-.1-.3%200-.8-.1-1-.1-.3%200-.4.3-.4.8h-.5l.2-2.2zm3.6%201.6v.1c-.3%201-.4%201.4-.4%202%200%20.2.1.5.1.7.1.5.2.7.2.8.1.7-.3%201.2-1%201.3-.7.1-1.2-.5-1.3-1.3-.1-.7.2-1.5%201-2.4.3-.3.5-.7.7-1.1.3.1.5%200%20.7-.1zm8.2%201.4c.1.3.3.2.5.2.1%200%20.3%200%20.3.2.1.2-.1.4-.3.5l-2.2%201c-.3.1-.5.1-.6-.2-.1-.2%200-.2.1-.3.2-.2.1-.3%200-.5l-1.9-4.3c-.1-.2-.1-.3-.4-.2-.2%200-.3%200-.3-.2-.1-.2%200-.3.2-.4l2.2-1%202.4%205.2zm-.3-6.2l.8%201.7c.1.3.1.4-.1.5-.2.1-.3%200-.4-.2-.5-.6-1.1-.9-1.8-.7l-.3-.6%201.8-.7zm2.4-1.3c-.3.4%200%20.7.3%201l2.5%203.1c.3.3.5.5.9.4l.4.5c-1.3%201-3.2.6-4.4-.9-1.2-1.5-1.3-3.3%200-4.5l.3.4zm-.1-.7c1.4-1.1%203.2-.6%204.4.9%201.2%201.5%201.2%203.4%200%204.5l-.4-.5c.2-.4.2-.5-.1-.8l-2.6-3.2c-.3-.4-.5-.7-1-.5l-.3-.4zm8.7.8c-.5.7-.3%201.5.2%202.1.1.2.1.3%200%20.4-.1.2-.3.1-.4%200l-1.5-1c.5-1.4-.7-2.5-1.9-3.4l-1.4-1c-.2-.1-.3-.2-.5%200-.1.1-.2.1-.4%200-.1-.1-.2-.2-.1-.4l.8-1.2.5.4-.2.2c-.1.2-.1.3.1.5l1.3.9c1.4%201%202.3%202.2%202.3%202.9l1-1.4.5.4-.3.6zm3.7-2.5c-.1.2-.2.2-.4.1-.7-.3-1.5-.2-2.1.6l-.5.8-5.5-3.9%201.3-1.8c.3-.4.3-.4.6-.2.2.1.1.2.1.4s0%20.3.2.4l3.7%202.6c.2.1.5.2.7-.1l.2-.3%201.5%201.1c.2%200%20.4.2.2.3zM63.5%2046l.3-1-4-.3-.4-.3.6-1.9%205.9.4c.1%200%20.4%200%20.5-.1.1-.1.2-.2.4-.1s.2.2.1.5l-.7%202.2c-.1.3-.2.4-.4.3-.1%200-.2-.1-.2-.2%200-.2-.1-.3-.3-.3h-.1l-.7-.2-.4%201.3-.6-.3zm-1.8-.8l2.3%201.5c.2.1.4.2.5.3.2.1.3%200%20.5-.1.1-.1.2-.3.5-.2.2.1.3.2.2.5l-.4%201.3c-.1.2-.2.3-.3.3-.2-.1-.2-.3-.2-.5%200-.3-.3-.6-.7-.9l-3.4-2.2h1zM24.6%2032.4l-.8%202.7c-.1.3-.2.4-.5.3-.2-.1-.2-.2-.3-.4%200-.3-.3-.4-.6-.5L17%2032.8c-.2-.1-.3-.1-.5.1-.1.2-.2.2-.5.2-.2-.1-.3-.2-.2-.5l.8-2.6%208%202.4zm-.6-.6c.1-.5%200-.8-.5-.9l-1.6-.5c-.5-.1-.8%200-1%20.5l-.7-.2c.1-.5%200-.8-.5-.9l-1.3-.4c-.6-.2-.9%200-1%20.4l-.7-.2.2-.6c.5-1.6%201.5-2.3%202.7-2%201.3.4%201.4%201.5%201.3%202.6.5-1%201.3-1.9%202.6-1.5%201.7.5%201.7%202.1%201.3%203.4v.5l-.8-.2zm-1.2-11.3c-.1.2-.1.3.1.5l4.8%205.2-2%201.9c-.2.1-.4.1-.5%200-.2-.2-.1-.3-.1-.5.1-.2.1-.3-.1-.5l-4-4.3c-.4-.4-.4-.1-.7-.1-.1%200-.2-.1-.3-.1-.2-.2-.1-.4.1-.6l2.1-1.9c.2-.2.4-.4.6-.1.2.2.1.3%200%20.5zm5.5%205.2l-.3.2-.5-.5c.3-.4.1-.6-.2-1L26%2023c-.3-.4-.6-.5-1-.2l-.5-.5.2-.2c1.1-1%202.5-1.5%203.8-.1%201.1%201%201.1%202.5-.2%203.7zm-3-7.7c-.2.1-.3%200-.4-.1-.2-.2-.2-.4%200-.5l1.9-1.8c.4-.4.5-.3.7-.1.2.2.1.3.1.5-.1.2%200%20.4.1.5l4%204.3c.2.2.3.2.5.2.2-.1.3-.1.5.1s.1.4-.2.6l-2%201.8c-.2.2-.4.2-.6%200%200-.2.1-.4.1-.5%200-.1%200-.3-.1-.5l-4-4.3c-.2-.2-.4-.2-.6-.2zm11.2%203l-2.7.5c-.3.1-.4%200-.5-.3%200-.3.1-.3.2-.4.3-.2.2-.5.2-.8l-1-5.6c0-.3-.1-.3-.3-.3-.2%200-.3-.1-.4-.3%200-.3%200-.4.3-.4l2.7-.5%201.5%208.1zm1.5-6.1c-.2%200-.2-.1-.3-.2-.4-.8-1.1-1.4-2.2-1.2l-.1-.7%202.5-.5.4%202.3c0%20.1%200%20.3-.3.3zm-.8%206l-.4.1-.1-.7c.7-.2.6-.6.6-1l-.3-1.4c-.1-.5-.2-1-.9-.9l-.1-.7.4-.1c.7-.1%201.3-.3%202%200%20.6.2%201.2.7%201.4%201.8.3%202.1-1%202.6-2.6%202.9zm8.2-7.1c-.6%200-.7.5-.8%201l-1.4%204.7c-.1.5-.2.8.2%201.1l-.2.7c-1.8-.6-2.6-2.8-1.9-5%20.7-2.3%202.3-3.7%204.3-3.2l-.2.7zm.6-.6c2%20.6%202.6%202.7%201.9%205-.7%202.3-2.4%203.7-4.3%203.3l.2-.7c.5%200%20.6-.2.7-.7l1.4-4.9c.2-.5.3-1-.2-1.3l.3-.7zm3.9%2010.3c-.2.2-.1.3%200%20.5s.2.3%200%20.6-.4.1-.6-.1l-2.1-1.9c-.2-.2-.3-.3-.1-.6.1-.1.2-.1.3-.1.3%200%20.3.3.7-.1l3.9-4.4c.2-.2.2-.3.1-.5s-.1-.3%200-.5.3-.2.5%200l2.1%201.8-4.8%205.3zm2.1-1.8c.4.2.6.1%201-.3l1.3-1.5c.3-.3.4-.6.1-1l.5-.6.3.3c1.3%201.1%201.5%202.5.4%203.7-1.3%201.5-2.8%201-4%200l-.1-.1.5-.5z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E')
    background-size (80/10)rem (98/10)rem
$icon-productyear
    image-productyear()
image-radio()
    background-repeat no-repeat
    width (20/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23333%22%20d%3D%22M10%206c2.2%200%204%201.8%204%204s-1.8%204-4%204-4-1.8-4-4%201.8-4%204-4z%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (20/10)rem
$icon-radio
    image-radio()
image-remove()
    background-repeat no-repeat
    width (6/10)rem
    height (6/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%206%206%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23ccc%22%20d%3D%22M6%20.8L5.2%200%203%202.3.8%200%200%20.8%202.3%203%200%205.2l.8.8L3%203.7%205.2%206l.8-.8L3.7%203z%22%2F%3E%3C%2Fsvg%3E')
    background-size (6/10)rem (6/10)rem
$icon-remove
    image-remove()
image-search()
    background-repeat no-repeat
    width (20/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M19.5%2018.1l-4.7-4.7c1.1-1.4%201.7-3.1%201.7-4.9%200-4.4-3.6-8-8-8s-8%203.6-8%208%203.6%208%208%208c1.8%200%203.5-.6%204.9-1.7l4.7%204.7%201.4-1.4zm-11-3.6c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.7%206-6%206z%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (20/10)rem
$icon-search
    image-search()
image-select-del()
    background-repeat no-repeat
    width (8/10)rem
    height (8/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M5.4%204l2.2%202.2c.4.4.4%201%200%201.4-.4.4-1.1.4-1.4%200L4%205.4%201.8%207.6c-.3.4-1%20.4-1.4%200C0%207.2%200%206.5.4%206.2L2.6%204%20.4%201.8C0%201.5%200%20.8.4.4c.4-.4%201-.4%201.4%200L4%202.6%206.2.4c.4-.4%201-.4%201.4%200%20.4.4.4%201%200%201.4L5.4%204z%22%2F%3E%3C%2Fsvg%3E')
    background-size (8/10)rem (8/10)rem
$icon-select-del
    image-select-del()
image-select()
    background-repeat no-repeat
    width (12/10)rem
    height (8/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%208%22%3E%3Cpath%20fill%3D%22%23B5B5B5%22%20d%3D%22M6.5%207l4.8-5c.3-.3.3-.8%200-1.1-.3-.3-.8-.3-1.1%200L6%205.4%201.7%201C1.4.7%201%20.7.7%201c-.3.3-.3.8%200%201.1l4.8%205c.3.2.7.2%201-.1z%22%2F%3E%3C%2Fsvg%3E')
    background-size (12/10)rem (8/10)rem
$icon-select
    image-select()
image-sendreq()
    background-repeat no-repeat
    width (30/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030%2024%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M16.7%2012.5l8.6-8.9%204.2%204.3-8.6%208.9-4.2-4.3zm-.7%203l-.6%202.6%202.6-.7-2-1.9zm5.5%203.5l2-1v6H.5V6l6-6h17v3l-2%202V2l-14-.1V7h-5v15h19v-3z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.6%2018v2h8.8v-2H4.6zm6.8-8H4.6v2h6.8v-2zm2%204H4.6v2h8.8v-2z%22%2F%3E%3C%2Fsvg%3E')
    background-size (30/10)rem (24/10)rem
$icon-sendreq
    image-sendreq()
image-share-white()
    background-repeat no-repeat
    width (16/10)rem
    height (16/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M5.6%208v.2l5.7%202.9c.5-.4%201.1-.7%201.8-.7%201.6%200%202.8%201.3%202.8%202.8%200%201.6-1.3%202.8-2.8%202.8-1.6%200-2.8-1.3-2.8-2.8V13l-5.7-2.9c-.5.4-1.1.7-1.8.7C1.3%2010.8%200%209.6%200%208c0-1.6%201.3-2.8%202.8-2.8.7%200%201.3.3%201.8.7L10.4%203v-.2c0-1.6%201.3-2.8%202.8-2.8C14.7%200%2016%201.3%2016%202.8c0%201.6-1.3%202.8-2.8%202.8-.7%200-1.3-.3-1.8-.7L5.6%207.8V8z%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (16/10)rem
$icon-share-white
    image-share-white()
image-share()
    background-repeat no-repeat
    width (16/10)rem
    height (16/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23999%22%20d%3D%22M5.6%208v.2l5.7%202.9c.5-.4%201.1-.7%201.8-.7%201.6%200%202.8%201.3%202.8%202.8%200%201.6-1.3%202.8-2.8%202.8-1.6%200-2.8-1.3-2.8-2.8V13l-5.7-2.9c-.5.4-1.1.7-1.8.7C1.3%2010.8%200%209.6%200%208c0-1.6%201.3-2.8%202.8-2.8.7%200%201.3.3%201.8.7L10.4%203v-.2c0-1.6%201.3-2.8%202.8-2.8C14.7%200%2016%201.3%2016%202.8c0%201.6-1.3%202.8-2.8%202.8-.7%200-1.3-.3-1.8-.7L5.6%207.8V8z%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (16/10)rem
$icon-share
    image-share()
image-slider-next()
    background-repeat no-repeat
    width (20/10)rem
    height (60/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2060%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%237F7F7F%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M.7%201.2L19.1%2030%20.7%2058.8%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (60/10)rem
$icon-slider-next
    image-slider-next()
image-temp()
    background-repeat no-repeat
    width (40/10)rem
    height (40/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23272727%22%20d%3D%22M26.2%2023.6V8c0-3.4-2.8-6.2-6.2-6.2-3.4%200-6.2%202.8-6.2%206.2v15.6c-1.5%201.6-2.4%203.7-2.4%206%200%204.8%203.9%208.7%208.7%208.7%204.8%200%208.7-3.9%208.7-8.7-.1-2.3-1-4.5-2.6-6zM20%2035.9c-3.5%200-6.3-2.8-6.3-6.3%200-2%20.9-3.8%202.5-5v-9.9h2.7c.4%200%20.8-.4.8-.8s-.4-.8-.8-.8h-2.7v-2h2.7c.4%200%20.8-.3.8-.8%200-.4-.4-.8-.8-.8h-2.7V8c0-2.1%201.7-3.8%203.8-3.8%202.1%200%203.8%201.7%203.8%203.8v16.7c1.5%201.1%202.4%202.9%202.4%204.9%200%203.5-2.8%206.3-6.2%206.3zm0%200%22%2F%3E%3Cpath%20d%3D%22M22%2026.1v-9.5h-4v9.5c-1.2.7-2%202-2%203.5%200%202.2%201.8%204%204%204s4-1.8%204-4c0-1.5-.8-2.8-2-3.5zm0%200%22%2F%3E%3C%2Fsvg%3E')
    background-size (40/10)rem (40/10)rem
$icon-temp
    image-temp()
image-time()
    background-repeat no-repeat
    width (40/10)rem
    height (40/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cg%20fill%3D%22%23272727%22%3E%3Cpath%20d%3D%22M38.7%2017.3c-.1-.3-.4-.5-.7-.5h-2.3c-1.5-8-8.6-14.2-17.1-14.2C9%202.6%201.2%2010.4%201.2%2020c0%209.6%207.8%2017.4%2017.4%2017.4%206.2%200%2012-3.3%2015.1-8.7.4-.8.2-1.7-.6-2.2-.8-.4-1.7-.2-2.2.6-2.5%204.4-7.3%207.1-12.3%207.1-7.8%200-14.2-6.4-14.2-14.2%200-7.8%206.4-14.2%2014.2-14.2%206.8%200%2012.4%204.7%2013.9%2011.1h-2.3c-.3%200-.6.2-.7.5-.1.3-.1.6.1.8l3.9%204.7c.1.2.4.3.6.3.2%200%20.5-.1.6-.3l4-4.7c.1-.3.2-.6%200-.9zm0%200%22%2F%3E%3Cpath%20d%3D%22M18.6%206.6c-.9%200-1.6.7-1.6%201.6v9.6c-.7.5-1.2%201.3-1.2%202.3%200%201.5%201.2%202.8%202.8%202.8.4%200%20.8-.1%201.2-.3l5.5%203.2c.3.1.5.2.8.2.5%200%201.1-.3%201.4-.8.4-.8.2-1.7-.6-2.2l-5.5-3.2c-.1-.8-.5-1.6-1.2-2V8.2c0-.9-.7-1.6-1.6-1.6zm0%2014.6c-.7%200-1.2-.5-1.2-1.2s.5-1.2%201.2-1.2%201.2.5%201.2%201.2-.6%201.2-1.2%201.2zm0%200%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (40/10)rem (40/10)rem
$icon-time
    image-time()
image-vk()
    background-repeat no-repeat
    width (45/10)rem
    height (45/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2045%2045%22%3E%3Cpath%20fill%3D%22%23F2ECE8%22%20d%3D%22M32.3%2025.2c-2.1-1.9-1.8-1.6.7-5%201.5-2%202.1-3.3%202-3.8-.2-.5-1.3-.4-1.3-.4H30s-.3%200-.5.1-.3.4-.3.4-.6%201.6-1.4%202.9c-1.7%202.8-2.3%203-2.6%202.8-.6-.4-.5-1.6-.5-2.5%200-2.7.4-3.9-.8-4.2-.4-.1-.7-.2-1.7-.2-1.3%200-2.5%200-3.1.3-.4.2-.8.7-.6.7.2%200%20.8.2%201.1.6.4.5.4%201.7.4%201.7s.2%203.2-.5%203.6c-.5.3-1.2-.3-2.7-2.9-.8-1.3-1.3-2.8-1.3-2.8s-.1-.3-.3-.4c-.2-.2-.6-.2-.6-.2H11s-.5%200-.7.2c-.2.2%200%20.6%200%20.6s2.8%206.5%205.9%209.8c2.9%203%206.2%202.8%206.2%202.8h1.5s.4%200%20.7-.3c.2-.2.2-.7.2-.7s0-2%20.9-2.3c.9-.3%202.1%201.9%203.3%202.8.9.6%201.7.5%201.7.5H34s1.7-.1.9-1.5c-.2.2-.6-.7-2.6-2.6z%22%2F%3E%3C%2Fsvg%3E')
    background-size (45/10)rem (45/10)rem
$icon-vk
    image-vk()
image-yo()
    background-repeat no-repeat
    width (45/10)rem
    height (45/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2045%2045%22%3E%3Cpath%20fill%3D%22%23F2ECE8%22%20d%3D%22M34.9%2017.2c-.3-1.3-1.4-2.3-2.7-2.4-3.1-.3-6.2-.3-9.3-.3-3.1%200-6.2%200-9.3.3-1.3.1-2.4%201.1-2.7%202.4-.4%201.9-.4%203.9-.4%205.9s0%204%20.4%205.9c.3%201.3%201.4%202.3%202.7%202.4%203.1.3%206.2.3%209.3.3%203.1%200%206.2%200%209.3-.3%201.3-.1%202.4-1.1%202.7-2.4.4-1.9.4-3.9.4-5.9%200-1.9%200-4-.4-5.9zM19.7%2027v-8.2c2.6%201.4%205.2%202.7%207.9%204.1-2.7%201.3-5.3%202.7-7.9%204.1z%22%2F%3E%3C%2Fsvg%3E')
    background-size (45/10)rem (45/10)rem
$icon-yo
    image-yo()
image-zamok()
    background-repeat no-repeat
    width (10/10)rem
    height (14/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2010%2014%22%3E%3Cpath%20d%3D%22M0%206h10v8H0z%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%200h10v14H0z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M5%20.5C6.9.5%208.5%202.1%208.5%204v3.5h-7V4C1.5%202.1%203.1.5%205%20.5z%22%2F%3E%3C%2Fsvg%3E')
    background-size (10/10)rem (14/10)rem
$icon-zamok
    image-zamok()
image-zoom-in()
    background-repeat no-repeat
    width (512/10)rem
    height (512/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cstyle%3E.st0%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M237.9%20164.2c-38.7%200-70.1%2031.4-70.1%2070.1%200%2038.7%2031.4%2070.1%2070.1%2070.1%2038.7%200%2070.1-31.4%2070.1-70.1%200-38.7-31.4-70.1-70.1-70.1zm33.9%2086.6h-20.6v20.6c0%207.3-5.9%2013.3-13.3%2013.3s-13.3-5.9-13.3-13.3v-20.6H204c-7.3%200-13.3-5.9-13.3-13.3s5.9-13.3%2013.3-13.3h20.6v-20.6c0-7.3%205.9-13.3%2013.3-13.3s13.3%205.9%2013.3%2013.3v20.6h20.6c7.3%200%2013.3%205.9%2013.3%2013.3s-6%2013.3-13.3%2013.3z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M256%200C114.6%200%200%20114.6%200%20256s114.6%20256%20256%20256%20256-114.6%20256-256S397.4%200%20256%200zm128.7%20377.6c-4%204.1-9.4%206.1-14.7%206.1s-10.6-2-14.7-6.1L297%20319.3c-16.8%2011.7-37.2%2018.6-59.2%2018.6-57.3%200-103.7-46.4-103.7-103.7s46.4-103.7%20103.7-103.7S341.6%20177%20341.6%20234.3c0%2020.2-5.8%2039.1-15.8%2055.1l59%2059c8.1%208%208.1%2021.1-.1%2029.2z%22%2F%3E%3C%2Fsvg%3E')
    background-size (512/10)rem (512/10)rem
$icon-zoom-in
    image-zoom-in()
