mixin article(item)
    +b.ARTICLE.article
        +e.A.link(href='' title=item.title)
        +e.row
            if(item.img)
                +e.left
                    +e.IMG.img(src=item.img)
            +e.right
                +e.TIME.date=item.date
                +e.P.title=item.title
                +e.desc
                    p=item.desc