- var getSize = function(i) { if(i%2==0) {return '800x600'} else {return '600x800'}}    

mixin gallery2(count)
    +b('section').gallery
        +e.items.js-pictures
            - for (var i = 0; i < count; i++)
                +e.item
                    +e('a').item-link.--image.js-picture(title='Описание Описание Описание Описание' data-size=getSize(i) href='http://dummyimage.com/'+getSize(i)+'/ff7939/fff')
                        +e('img').item-img(src='http://lorempixel.com/190/135/')
