- var getSize = function(i) { if(i%2==0) {return '800x600'} else {return '600x800'}}    

mixin gallery(count)
    +b('section').gallery
        +e.items.js-pictures
            - for (var i = 0; i < count; i++)                
                +e.item
                    if(i%3==0)
                        +e('a').item-link.--video.js-openvideo( href='http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1')
                            +e('img').item-img(src='http://lorempixel.com/240/170/')
                            i
                    else if(i%5==0)
                        +e('a').item-link.--video.js-openvideo( href='https://player.vimeo.com/video/153212914')
                            +e('img').item-img(src='http://lorempixel.com/240/170/')
                            i
                    else if(i%2==0)       
                        +e('a').item-link.--image.js-picture(data-size=getSize(i) href='http://dummyimage.com/'+getSize(i)+'/ff7939/fff')
                            +e('img').item-img(src='http://dummyimage.com/240x170') 
                    else
                        +e('a').item-link.--image.js-picture(data-size=getSize(i) href='http://dummyimage.com/'+getSize(i)+'/ff7939/fff')
                            +e('img').item-img(src='http://lorempixel.com/240/170/')
