mixin mainmenu(items)    
    +b('nav').menu
        +e('ul').items        
            each item in items
                +e('li').item(
                    class=item.sub ? 'menu__item--parent' : ''
                    class=(item.name === activeMenu) ? 'menu__item--active' : ''
                    class=(item.name === currentMenu) ? 'menu__item--current' : ''
                )
                    +e('a').item-link(href=item.href  title=item.name)
                        +e('span').item-title=item.name
                        if(item.count)
                            +e('span').item-count=item.count
                    if(item.sub)
                        +e('ul').subitems
                            each subitem in item.sub
                                +e('li').subitem(   
                                    class=subitem.sub ? 'menu__subitem--parent' : ''                                 
                                    class=(subitem.name === activeSubMenu) ? 'menu__subitem--active' : ''
                                    class=(subitem.name === currentSubMenu) ? 'menu__subitem--current' : ''
                                )
                                    +e('a').subitem-link(href=subitem.href  title=subitem.name)
                                        +e('span').subitem-title=subitem.name
                                    if(subitem.sub)
                                        +e('ul').subsubitems
                                            each subsubitem in subitem.sub
                                                +e('li').subsubitem(                                    
                                                    class=(subsubitem.name === activeSubSubMenu) ? 'menu__subsubitem--active' : ''
                                                    class=(subsubitem.name === currentSubSubMenu) ? 'menu__subsubitem--current' : ''
                                                )
                                                    +e('a').subsubitem-link(href=subsubitem.href  title=subsubitem.name)
                                                        +e('span').subsubitem-title=subsubitem.name  
