include ../../../../node_modules/bemto.pug/bemto.pug
-
  set_bemto_settings({
    modifier: '--'
  }) 

include menu.pug
include gallery.pug
include gallery2.pug
include article.pug
include product.pug
include product-item.pug


mixin input(attr)
    - var type = attr.type || 'text' 
    .form__elem.form__elem--input(class=attr.wrapclass)
        label(class=attr.labelclass for=attr.name)=attr.label    
        .form__field
            input.form__input(class=attr.classes placeholder=attr.placeholder id=attr.name name=attr.name type=type value=attr.value disabled=attr.disabled ) 
            
mixin textarea(attr)    
    .form__elem.form__elem--textarea(class=attr.wrapclass)
        label(class=attr.labelclass for=attr.name)=attr.label        
        .form__field  
            textarea.form__textarea(placeholder=attr.placeholder, class=attr.classes id=attr.name, name=attr.name,  disabled=attr.disabled)
            
mixin fileinput(attr)    
    .form__elem.form__elem--file.js-fileinput
        label(class=attr.labelclass for=attr.name)=attr.label
        .form__elem-fileresult
            span.form__elem-filename DSC_1829331.jpg
            a.form__elem-fileremove
        .form__field 
            input.form__input(class=attr.classes id=attr.name name=attr.name type='file' disabled=attr.disabled )            
            
mixin radio(attr)
    .form__elem-radio     
        input(id=attr.id type='radio' value=attr.value  name=attr.name checked=attr.checked,  disabled=attr.disabled)
        label(for=attr.id class=attr.labelclass) 
            | !{attr.label}
            
mixin checkbox(attr)
    .form__elem-checkbox     
        input(id=attr.id type='checkbox' value=attr.value  name=attr.name checked=attr.checked,  disabled=attr.disabled)
        label(for=attr.id class=attr.labelclass) 
            | !{attr.label}           
            
            

mixin multiselect(item)    
    .form__elem-multiselect
        if (item.label) 
            label(class=item.labelclass for=item.name)=item.label
        .form__field
            select(name=item.name id=item.name data-placeholder=item.placeholder multiple class=item.chosen?'js-chosen':'')
                each value, i in item.items
                    option(value=i)=value
                    
mixin select(item)
    .form__elem-select
        if (item.label)
            label(class=item.labelclass for=item.name)=item.label
        .form__field
            select(name=item.name id=item.name data-placeholder=item.placeholder class=item.selectclass class=item.chosen?'js-chosen':'')
                each value, i in item.items
                    if (item.values)
                        option(value=item.values[i])=value
                    else
                        option(value=i)=value
             
