mixin product-item(item)
    +b.ARTICLE.product-item
        +e.A.link(href='' title=item.title)        
        +e.IMG.img(src=item.img)
        +e.content
            +e.P.title=item.title
            +e.desc
                if(item.desc)
                    p=item.desc
            +e.bottom
                +e.A.category(href='')=item.category
                +e.SPAN.price=item.price