mixin product(item)
    +b.ARTICLE.product
        +e.A.link(href='' title=item.title)
        +e.row
            +e.col.--img
                +e.IMG.img(src=item.img)
            +e.col.--title
                +e.P.title=item.title
                +e.P.category=item.category
            +e.col.--more
                +e.SPAN.more(href='') Подробнее