.text
    margin 0

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        margin-top 0

    *+h1,
    *+h2,
    *+h3,
    *+h4,
    *+h5,
    *+h6
        margin-top 5rem

    a
        font-weight 500
        text-decoration none
        color:$colorLink
        transition color .2s, border-color .2s
        border-bottom 1px solid rgba(@color,.3)

        &:visited
            color:$colorLinkVisited
            border-bottom 1px solid rgba(@color,.3)

        &:hover
            color $colorLinkHover
            border-bottom 1px solid rgba(@color,0)


        &:active
            color $colorLinkActive
            border-bottom 1px solid rgba(@color,.3)




    p
        margin: 0 0 1em 0


    ul
        position relative
        margin 2.4rem 0 2.4rem 2rem
        //padding 0 0 0 1rem

        ul
            margin 0
            margin-bottom 0
        
        li
            margin 1rem 0
            &:before
                position relative
                content ''
                icon 'li'
                display inline-block
                vertical-align middle
                width .6rem
                margin-right 1rem
                //border 1px solid red

            li
                &:before
                    width 2rem

                li
                    &:before
                        width 3.4rem






    ol
        counter-reset:point
        margin 2.4rem 0
        padding: 0

        li
            margin: 0 0 .8em .8em

        &>li:before
            display:inline-block
            content:counter(point) "."
            counter-increment:point 1
            //position:absolute
            left 2rem
            margin:0 1rem
            font-weight bold

        ol
            counter-reset point2
            margin-left 2.4rem
            margin-top .8em
            margin-bottom 0

        ol>li:before
            content:counter(point) "." counter(point2) "."
            counter-increment:point2 1



        ol ol
            counter-reset:point3


        ol ol>li:before
            content:counter(point) "." counter(point2) "." counter(point3) "."
            counter-increment:point3 1



        ol ol ol li:before
            display:none

    table
        //width:100%
        position:relative
        margin: 0 0 3.2rem 0
        border-collapse collapse
        font-size 1.6rem
        @media (max-width: $screen-xs-max)
            overflow-x auto
            display block



        thead
            color:inherit


        caption
            color #b5b5b5
            font-size 1.4rem
            text-align: left
            vertical-align: top
            padding:0
            margin 1.6rem 0

        th, td
            padding .8rem 2rem
            //text-align center
        th
            color #fff
            background #1e1f24

        td
            border-bottom 1px solid #ddd
        
        tr:last-child td
            border-bottom none


    strong
        font-weight 600
        //color #0f0f0f


    em
        font-weight: normal
        font-style: italic


    img
        margin-bottom 1.6rem
        &:not(:first-child)
            margin 1.6rem 0
        @extend $img
        /*height:auto*/


    img[style*="left"]
        margin:0 2em 1em 0


    img[style*="right"]
        margin:0 0 1em 2em



    hr
        display:block
        width:auto
        height:1px
        position:relative
        color:#e5e5e5
        font-size:0
        line-height:1px
        text-align:left
        vertical-align:top
        margin:35px auto
        border:none
        background: rgba(#818181,.1)
        user-select: none
        cursor:default






    blockquote
        position relative
        margin 2rem 0
        padding 3rem 0 3rem 6rem
        line-height 3rem
        font-weight 600
        color #333333
        font-size 1.8rem
        font-family $fontFamilyPantonBold
        p
            margin-bottom 1em
        &:before
            content '«'
            position absolute
            top 3rem
            left 0
            font-size 6rem



    cite
        display block
        font-size 1.2rem
        line-height 1.5em
        font-family $fontFamilyRoboto
        font-weight 400
        opacity .5
        color #333







    figure
        margin-top .6em
        margin-bottom 1.6em

        img
            margin 0

    figcaption
        font-size 1.3rem
        text-align right
        padding 1rem 1.6rem
        opacity .5






    .video
        position relative
        display block
        height 0
        padding 0
        overflow hidden
        margin 2em 0

        &__item
            position absolute
            top 0
            left 0
            bottom 0
            height 100%
            width 100%
            border 0

        &--16x9
            padding-bottom 56.25%
        &--4x3
            padding-bottom 75%

    small
        font-weight normal
        margin: 0 0 1.6rem 0


hr
    display:block
    width:auto
    height:1px
    position:relative
    color: #e2e2e2
    font-size:0
    line-height:1px
    text-align:left
    vertical-align:top
    margin:45px auto
    border:none
    background: #e2e2e2
    -webkit-touch-callout: none
    user-select: none
    cursor:default
