.btn
    display inline-block
    position relative
    line-height 2rem!important
    text-decoration none
    padding 1.4rem 3rem
    border-radius 4px
    border 1px solid #000
    text-align center
    cursor pointer
    color #000!important
    font-size 1.6rem
    font-family $fontFamilyPantonSemibold
    background-color rgba(#1e1f24,0)

    &:hover
        background-color #1e1f24
        border-color #1e1f24
        color #fff!important

    &:active
        opacity .5


    &[disabled]
        opacity .5
        cursor not-allowed
        &:hover, &:active
            opacity .3




